<div id="home">

	<div data-start class="banner">
		<div class="container">
			<p class="banner__hero">
				La app para<br>
				<b>ganar platita</b><br>
				conectando<br>
				<b class="shape">
					<span class="shape__text">a tu gente</span>
					<img class="shape__box" src="../images/home/shape-tag-hero-1.png">
				</b>
			</p>
			<img class="banner__image" src="../images/home/hero-person-1.png" alt="Hero">
			<div class="banner__indicator">
				<button class="banner__dot banner__dot--active" type="button">
					<span class="banner__dot-icon"></span>
				</button>
				<button class="banner__dot" type="button">
					<span class="banner__dot-icon"></span>
				</button>
			</div>
		</div>
		<button class="banner__scroll" type="button">
			<img class="banner__scroll-icon" src="../images/home/hero-icon-scroll.png">
		</button>
	</div>

	<div class="welcome container">
		<h1 class="welcome__title">
			<img class="welcome__title-deco" src="../images/home/deco-title.png">
			Bienvenido a +Lucas
			<img class="welcome__title-deco" src="../images/home/deco-title.png">
		</h1>
		<img class="temp-video" src="../images/home/video.png">
		<h2 class="welcome__subtitle">Ganar platita extra es muy f&aacute;cil</h2>
		<div class="welcome__steps">
			<div class="welcome__step">
				<span class="welcome__step-icon"><img src="../images/home/icon-cellphone.png"></span>
				<span class="welcome__step-dot"></span>
				<button type="button" class="welcome__step-label shape">
					<img class="shape__box" src="../images/home/shape-join.png">
					<span class="shape__text">Af&iacute;liate <br> facilito <img src="../images/home/icon-down.png"></span>
				</button>
			</div>
			<div class="welcome__step">
				<span class="welcome__step-icon"><img src="../images/home/icon-chip.png"></span>
				<span class="welcome__step-dot"></span>
				<button type="button" class="welcome__step-label shape">
					<img class="shape__box" src="../images/home/shape-connect.png">
					<span class="shape__text">Conecta <br> a tu gente <img src="../images/home/icon-down.png"></span>
				</button>
			</div>
			<div class="welcome__step">
				<span class="welcome__step-icon"><img src="../images/home/icon-money.png"></span>
				<span class="welcome__step-dot"></span>
				<button type="button" class="welcome__step-label shape">
					<img class="shape__box" src="../images/home/shape-exchange.png">
					<span class="shape__text">Canjea <br> y gana <img src="../images/home/icon-down.png"></span>
				</button>
			</div>
		</div>
	</div>

</div>