.banner {
	width: 100%;
	height: 100vh;
	background-color: var(--blue);
	border-bottom-right-radius: 90px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 1;
}

.banner::before {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	width: 100%;
	height: calc(100% + 30px);
	display: block;
	background-color: var(--sky);
	border-bottom-right-radius: 230px;
	transform: skew(8deg) rotate(-12deg)translateY(10px);
	z-index: 1;
}

.banner::after {
	content: '';
	position: absolute;
	top: 0;
	right: 60%;
	width: 100%;
	height: calc(100% + 30px);
	display: block;
	background-color: var(--pink);
	border-bottom-right-radius: 40px;
	transform: skew(4deg) rotate(-8deg)translateY(50px);
}

.banner .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 30px;
	position: relative;
	z-index: 1;
	height: 100%;
}

.banner__hero {
	color: white;
	font-size: 65px;
	font-weight: 300;
	line-height: 75px;
	padding-bottom: 40px;
}

.banner__hero b {
	color: inherit;
}

.banner .shape {
	padding: 0 30px 20px 30px;
	line-height: 85px;
}

.banner__image {
	display: block;
	width: 820px;
	max-width: 50vw;
}

.banner__scroll {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 11px);
	z-index: 4;
	animation: banner-scroll-animation 1s infinite alternate-reverse;
}

.banner__scroll-icon {
	display: block;
	width: 22px;
}

@keyframes banner-scroll-animation {
	from { transform: translateY(0); }
	to { transform: translateY(10px); }
}

.banner__indicator {
	position: absolute;
	bottom: 70px;
	left: 20px;
	z-index: 4;
	user-select: none;
}

.banner__dot {
	padding: 8px 4px;
}

.banner__dot--active .banner__dot-icon { background-color: white; }

.banner__dot-icon {
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid white;
}

.welcome {
	padding: 100px 0 0;
	position: relative;
	transform-style: preserve-3d;
}

.welcome::before, .welcome::after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url(../../images/home/deco-welcome.png);
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateZ(-1px);
}

.welcome::after {
	transform: translateZ(-1px) scaleX(-1);
}

.welcome__title, .welcome__subtitle {
	color: var(--blue);
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-size: 34px;
}

.welcome__title-deco {
	width: 34px;
}

.welcome__title-deco:last-child {
	transform: scaleX(-1);
}

.welcome .temp-video {
	width: 670px;
	display: block;
	margin: 40px auto 120px auto;
}

.welcome__steps {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 80px;
	margin-top: 100px;
}

.welcome__step {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
}

.welcome__step-icon {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 60px;
	height: 60px;
}

.welcome__step-icon img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.welcome__step-dot {
	display: block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background-color: var(--pink);
	margin: 40px 0;
	position: relative;
	transform-style: preserve-3d;
}

.welcome__step:nth-child(1) .welcome__step-dot {
	background-color: var(--pink);
	z-index: 1;
}
.welcome__step:nth-child(2) .welcome__step-dot { background-color: var(--sky); }
.welcome__step:nth-child(3) .welcome__step-dot { background-color: var(--green); }

.welcome__step:nth-child(2) .welcome__step-dot::before {
	content: '';
	position: absolute;
	display: block;
	top: 12px;
	height: 2px;
	width: 650px;
	left: calc(-325px + 12.5px);
	background-color: var(--blue);
	transform: translateZ(-1px);
}
 
.welcome__step-label {
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	width: 150px;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.welcome__step-label .shape__text img {
	display: block;
	margin: 5px auto 0 auto;
	width: 10px;
}

.step-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 40px;
	padding-top: 50px;
}

.step-section--join { padding-top: 200px; }

.step-section__info-title {
	font-size: 40px;
	color: var(--sky);
	margin-bottom: 15px;
	position: relative;
}

.step-section__info-title::before {
	content: '';
	position: absolute;
	top: -30px;
	left: -40px;
	display: block;
	height: 50px;
	width: 50px;
	background-size: contain;
}

.step-section--join .step-section__info-title::before { background-image: url(/images/home/deco-join.png); }
.step-section--connect .step-section__info-title::before { background-image: url(/images/home/deco-connect.png); }
.step-section--exchange .step-section__info-title::before {
	height: 45px;
	width: 45px;
	background-image: url(/images/home/deco-exchange.png);
}

.step-section--connect { flex-flow: row-reverse; }

.step-section__info {
	width: 100%;
	padding: 0 70px 0 100px
}

.step-section--connect .step-section__info {
	padding-right: unset;
	padding-left: 70px;
}

.step-section__info-subtitle {
	font-size: 20px;
	max-width: 420px;
	margin-bottom: 20px;
}

.step-section__info-download img {
	display: block;
	height: 42px;
	margin-top: 10px;
}

.step-section__image {
	max-width: 50%;
	width: 100%;
	position: relative;
	transform-style: preserve-3d;
	text-align: end;
}

.step-section__image::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 99%;
	display: block;
	height: 150%;
	width: 100%;
	background-color: var(--pink);
	clip-path: polygon(0 33.5%, 160% 0, 110% 100%, 0 99.67%)
}

.step-section--connect .step-section__image::before {
	left: unset;
	right: 98%;
	bottom: unset;
	top: 0;
	background-color: var(--sky);
	clip-path: polygon(0 5%, 100% 6.4%, 100% 66.03%, -88% 100%);
}

.step-section--exchange .step-section__image::before {
	background-color: var(--green);
}

.step-section__image img {
	width: 100%;
}