#product-detail .info {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 70px;
  margin-bottom: 60px;
}
#product-detail .preview {
  width: 50%;
  border: 2px solid var(--sky);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 40px;
}
#product-detail .preview .preview__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#product-detail .preview .preview__img button img {
  max-width: 15px;
}
#product-detail .preview .preview__img > img {
  max-width: 270px;
}
#product-detail .preview .preview__mini {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  position: relative;
}
#product-detail .preview .preview__mini::before, #product-detail .preview .preview__mini::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  top: 0;
  left: -60px;
  background-image: url(/images/product-detail/deco-preview.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
#product-detail .preview .preview__mini::before {
  justify-content: flex-end;
}
#product-detail .preview .preview__mini::after {
  transform: scale(-1);
}
#product-detail .preview .preview__mini .mini {
  width: 60px;
  height: 60px;
  border: 2px solid;
  border-radius: 8px;
}
#product-detail .preview .preview__mini .mini:nth-child(3n) {
  border-color: var(--green);
}
#product-detail .preview .preview__mini .mini:nth-child(3n-1) {
  border-color: var(--pink);
}
#product-detail .preview .preview__mini .mini:nth-child(3n-2) {
  border-color: var(--sky);
}
#product-detail .detail {
  width: 50%;
  padding-right: 100px;
}
#product-detail .detail .detail__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--blue);
}
#product-detail .detail .detail__code {
  font-size: 24px;
  font-weight: 400;
  color: var(--blue);
  margin-bottom: 20px;
}
#product-detail .detail .detail__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
#product-detail .detail .detail__info .detail__price {
  padding: 10px 15px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--sky);
  border-radius: 0 10px 0 10px;
}
#product-detail .detail .detail__info .detail__price small {
  color: inherit;
  font-weight: 500;
  font-size: 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
#product-detail .detail .detail__info .detail__options {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}
#product-detail .detail .detail__info .detail__options > span {
  font-size: 12px;
  font-weight: 600;
  color: var(--green);
}
#product-detail .detail .detail__info .detail__cart {
  background-color: var(--orange);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  padding: 7px 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
#product-detail .detail .detail__info .detail__cart img {
  color: inherit;
  width: 16px;
}
#product-detail .detail .detail__info .detail__like {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background-color: var(--sky);
  border-radius: 50%;
}
#product-detail .detail .detail__info .detail__like img {
  width: 12px;
}
#product-detail .tab .tab__handler {
  color: white;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  width: 205px;
}
#product-detail .tab .tab__handler .shape__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 7px;
}
#product-detail .tab .tab__handler .shape__text img {
  width: 12px;
}
#product-detail .tab .tab__content {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.25s;
}
#product-detail .tab .tab__content p {
  border: 1px solid var(--sky);
  padding: 30px;
  border-radius: 20px;
  font-weight: 300;
  margin: 25px 0 20px 0;
  position: relative;
}
#product-detail .tab .tab__content p::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: -16px;
  left: 60px;
  transform: rotate(-45deg) skew(15deg, 15deg);
  border: solid var(--sky);
  border-width: 1px 1px 0 0;
  background-color: white;
}
