.form {
	width: 100%;
}

.auth-form {
	border-radius: 15px;
	padding: 40px 50px;
	width: 100%;
	max-width: 460px;
	position: relative;
	background-image: url(/images/layout/login-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.auth-form__title {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	position: relative;
}

.auth-form__title::before,
.auth-form__title::after {
	content: '';
	position: absolute;
	top: -6px;
	left: 20%;
	width: 22px;
	height: 40px;
	background-image: url(/images/layout/login-deco.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.auth-form__title::after {
	transform: scaleX(-1);
	left: unset;
	right: 20%;
}

.auth-form__subtitle {
	color: white;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	margin: 10px 0 40px 0;
}

.auth-form__input {
	display: flex;
	align-items: center;
	grid-gap: 15px;
}

.auth-form__input:not(:last-child) {
	margin-bottom: 15px;
}

.auth-form__input:nth-child(4) .auth-form__input-dot,
.auth-form__input:nth-child(4) .auth-form__input-dot::after { background-color: var(--sky); }
.auth-form__input:nth-child(5) .auth-form__input-dot { background-color: var(--green); }

.auth-form__input-dot {
	display: block;
	height: 16px;
	min-width: 16px;
	border-radius: 10px;
	position: relative;
}

.auth-form__input-dot::after {
	content: '';
	position: absolute;
	display: block;
	width: 2px;
	height: 42px;
	top: 100%;
	left: 7px;
}

.auth-form__input-val {
	display: block;
	width: 100%;
	user-select: none;
	outline: none;
	background-color: var(--white);
	border: none;
	border-radius: 12px;
	font-size: 16px;
	padding: 12px;
	color: #333;
}

.auth-form__input-val::placeholder { color: var(--gray-text); }

.auth-form__options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.auth-form__check {
	display: flex;
	align-items: center;
	grid-gap: 7px;
	cursor: pointer;
}

.auth-form__check:active { transform: translateY(1px); }

.auth-form__check-square {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	width: 20px;
	border-radius: 4px;
	background-color: var(--white);
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.auth-form__check-square i {
	color: var(--sky);
	font-size: 14px;
}

.auth-form__check-label, .auth-form__forgot {
	color: var(--sky);
	font-size: 13px;
}

.auth-form__submit {
	display: block;
	margin: 30px auto;
	background-color: var(--pink);
	padding: 10px 35px;
	color: white;
	font-size: 15px;
	font-weight: 500;
	border-radius: 12px;
}

.auth-form__label {
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 10px;
}

.auth-form__other-action {
	display: block;
	margin: 15px auto 0 auto;
	color: var(--blue-text);
	background-color: var(--sky);
	font-weight: 500;
	padding: 5px 10px;
	border-radius: 8px;
}

.info {
	width: 100%;
	text-align: right;
	position: relative;
	padding-top: 50px;
}

.info img {
	width: 70%;
}

.tooltip {
	display: block;
	width: 220px;
	color: var(--white);
	background-color: var(--sky);
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 132px;
	font-size: 18px;
	text-align: left;
	padding: 12px 15px;
	transform-style: preserve-3d;
}

.tooltip::before {
	content: '';
	position: absolute;
	bottom: -5px;
	right: 8px;
	background-color: var(--sky);
	display: block;
	height: 40px;
	width: 40px;
	transform: skew(0, 45deg) translateZ(-1px);
}

.tooltip b { color: inherit; }