* {
	font-family: 'Barlow', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--gray-text);
}

body {
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	font: inherit;
}

b {
	color: inherit;
}

.container {
	margin: auto;
	max-width: 1300px;
	width: 100%;
}

[data-condition],
[hidden] {
	display: none !important;
}

button, input, textarea, select {
	appearance: none;
	border: none;
	user-select: none;
	background-color: transparent;
	position: relative;
	outline: none;
}

button {
	cursor: pointer;
}

button:active {
	transform: translateY(1px);
}

.shape {
	position: relative;
}

.shape__box {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shape__text {
	position: relative;
	z-index: 1;
	color: inherit;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 50px;
}

.modal__close {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: var(--orange);
}

.modal__close img {
	width: 10px;
}