:root {
	--blue: #004FB9;
	--sky: #00B9EB;
	--pink: #F46C8F;
	--green: #00AD8A;
	--blue-text: #231E78;
	--orange: #FF560A;
	--yellow: #FFBE00;
	--gray-text: #9E9FA1;
	--gray-shadow: rgba(0, 0, 0, 0.25);
	--white: #F8F8F8;
}