<div id="modal-login" class="modal">
    <form class="form">
        <button type="button" class="modal__close">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h3 class="form__title">Inicia Sesi&oacute;n</h3>
        <h4 class="form__subtitle">Ingresa tus datos de acceso y <br> sigue ganando platita extra</h4>
        <div class="form__input">
            <span class="form__input-dot"></span>
            <input class="form__input-val" type="text" placeholder="Usuario"/>
        </div>
        <div class="form__input">
            <span class="form__input-dot"></span>
            <input class="form__input-val" type="password" placeholder="Contrase&ntilde;a"/>
        </div>
        <div class="form__options">
            <div class="form__check">
                <span class="form__check-square"><i class="fa-solid fa-check"></i></span>
                <span class="form__check-label">Recordar mi cuenta</span>
            </div>
            <button class="form__forgot" type="button">&iquest;Olvidaste tu contrase&ntilde;a?</button>
        </div>
        <button class="form__submit" type="button">Iniciar Sesi&oacute;n</button>
        <p class="form__label">&iquest;A&uacute;n no eres parte de +Lucas?</p>
        <button class="form__other-action" type="button">Reg&iacute;strate</button>
    </form>
</div>