#home {

	.welcome {
		padding: 100px 0 0;
		position: relative;
		transform-style: preserve-3d;
	}
	
	.welcome::before, .welcome::after {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		background-image: url(../../images/home/deco-welcome.png);
		background-repeat: no-repeat;
		background-size: contain;
		transform: translateZ(-1px);
	}
	
	.welcome::after {
		transform: translateZ(-1px) scaleX(-1);
	}
	
	.welcome__title, .welcome__subtitle {
		color: var(--blue);
		text-transform: uppercase;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		grid-gap: 10px;
		font-size: 34px;
	}
	
	.welcome__title-deco {
		width: 34px;
		transform: scaleY(-1);
	}
	
	.welcome__title-deco:last-child {
		transform: scaleY(-1) scaleX(-1);
	}
	
	.welcome .temp-video {
		width: 670px;
		display: block;
		margin: 40px auto 120px auto;
	}
	
	.welcome__steps {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 80px;
		margin-top: 100px;
	}
	
	.welcome__step {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 250px;
	}
	
	.welcome__step-icon {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 60px;
		height: 60px;
	}
	
	.welcome__step-icon img {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
	
	.welcome__step-dot {
		display: block;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		background-color: var(--pink);
		margin: 40px 0;
		position: relative;
		transform-style: preserve-3d;
	}
	
	.welcome__step:nth-child(1) .welcome__step-dot {
		background-color: var(--pink);
		z-index: 1;
	}
	.welcome__step:nth-child(2) .welcome__step-dot { background-color: var(--sky); }
	.welcome__step:nth-child(3) .welcome__step-dot { background-color: var(--green); }
	
	.welcome__step:nth-child(2) .welcome__step-dot::before {
		content: '';
		position: absolute;
		display: block;
		top: 12px;
		height: 2px;
		width: 650px;
		left: calc(-325px + 12.5px);
		background-color: var(--blue);
		transform: translateZ(-1px);
	}
	 
	.welcome__step-label {
		color: white;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
		width: 150px;
		height: 85px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	.welcome__step-label .shape__text i {
		display: block;
		margin: 5px auto 0 auto;
		color: white;
		font-size: 12px;
	}
	
	.step-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 40px;
		padding-top: 50px;
	}
	
	.step-section--join { padding-top: 200px; }
	
	.step-section__info-title {
		font-size: 40px;
		color: var(--sky);
		margin-bottom: 15px;
		position: relative;
	}
	
	.step-section__info-title::before {
		content: '';
		position: absolute;
		top: -30px;
		left: -40px;
		display: block;
		height: 50px;
		width: 50px;
		background-size: contain;
	}
	
	.step-section--join .step-section__info-title::before { background-image: url(../../images/home/deco-join.png); }
	.step-section--connect .step-section__info-title::before { background-image: url(../../images/home/deco-connect.png); }
	.step-section--exchange .step-section__info-title::before {
		height: 45px;
		width: 45px;
		background-image: url(../../images/home/deco-exchange.png);
	}
	
	.step-section--connect { flex-flow: row-reverse; }
	
	.step-section__info {
		width: 100%;
		padding: 0 70px 0 100px
	}
	
	.step-section--connect .step-section__info {
		padding-right: unset;
		padding-left: 70px;
	}
	
	.step-section__info-subtitle {
		font-size: 20px;
		max-width: 420px;
		margin-bottom: 20px;
	}
	
	.step-section__info-download img {
		display: block;
		height: 42px;
		margin-top: 10px;
	}
	
	.step-section__image {
		max-width: 50%;
		width: 100%;
		position: relative;
		transform-style: preserve-3d;
		text-align: end;
	}
	
	.step-section__image::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 99%;
		display: block;
		height: 150%;
		width: 100%;
		background-color: var(--pink);
		clip-path: polygon(0 33.5%, 160% 0, 110% 100%, 0 99.67%)
	}
	
	.step-section--connect .step-section__image::before {
		left: unset;
		right: 98%;
		bottom: unset;
		top: 0;
		background-color: var(--sky);
		clip-path: polygon(0 5%, 100% 6.4%, 100% 66.03%, -88% 100%);
	}
	
	.step-section--exchange .step-section__image::before {
		background-color: var(--green);
	}
	
	.step-section__image img {
		width: 100%;
	}
	
}