#product-detail {
  
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 70px;
    margin-bottom: 60px;
  }

  .preview {
    width: 50%;
    border: 2px solid var(--sky);
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 40px;

    .preview__img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button i {
        font-size: 26px;
        color: var(--sky);
      }

      & > img { max-width: 270px; }
      
    }

    .preview__mini {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      position: relative;

      &::before, &::after {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        top: 0;
        left: -60px;
        background-image: url(../images/common/deco-leafs.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
      }

      &::before { justify-content: flex-end; }
      &::after { transform: scale(-1); }

      .mini {
        width: 60px;
        height: 60px;
        border: 2px solid;
        border-radius: 8px;
        overflow: hidden;

        &:nth-child(3n) { border-color: var(--green); }
        &:nth-child(3n-1)  { border-color: var(--pink); }
        &:nth-child(3n-2) { border-color: var(--sky); }

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }

      }
      
    }
    
  }
  
  .detail {
    width: 50%;
    padding-right: 100px;

    .detail__title {
      font-size: 24px;
      font-weight: 700;
      color: var(--blue);
    }

    .detail__code {
      font-size: 24px;
      font-weight: 400;
      color: var(--blue);
      margin-bottom: 20px;
    }

    .detail__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      .detail__price {
        padding: 10px 15px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        background-color: var(--sky);
        border-radius: 0 10px 0 10px;

        small {
          color: inherit;
          font-weight: 500;
          font-size: 10px;
          display: block;
          text-align: center;
          text-transform: uppercase;
        }
        
      }

      .detail__options {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 15px;
        
        & > span {
          font-size: 12px;
          font-weight: 600;
          color: var(--green);
        }
        
      }

      .detail__cart {
        background-color: var(--orange);
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        padding: 7px 12px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;

        img {
          color: inherit;
          width: 16px;
        }
        
      }

      .detail__like {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        background-color: var(--sky);
        border-radius: 50%;

        i {
          font-size: 12px;
          color: white;
          padding-top: 2px;
        }
        
      }
      
    }
    
  }

  .tab {

    .tab__handler {
      color: white;
      padding: 10px 20px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      width: 205px;
  
      .shape__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 7px;
    
        i {
          font-size: 12px;
          transition: 0.25s;
        }
    
      }
      
    }
  
    .tab__content {
      max-height: 0;
      overflow: hidden;
      margin-bottom: 15px;
      transition: 0.25s;

      p {
        border: 1px solid var(--sky);
        padding: 30px;
        border-radius: 20px;
        font-weight: 300;
        margin: 25px 0 20px 0;
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          height: 30px;
          width: 30px;
          top: -16px;
          left: 60px;
          transform: rotate(-45deg) skew(15deg, 15deg);
          border: solid var(--sky);
          border-width: 1px 1px 0 0;
          background-color: white;
        }
  
      }

    }
    
  }

  .others {
    margin-top: 80px;

    .other__products {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      grid-gap: 20px;
      padding: 60px 100px;
    }
    
  }

  .product {
    width: calc(100% / 4 - 15px);
    border-radius: 10px;
    border: 1px solid var(--sky);
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .product__price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--sky);
    border-bottom-left-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    text-align: center;
  }
  
  .product__price small {
    font-size: 10px;
    text-transform: uppercase;
    color: inherit;
    font-weight: 600;
  }
  
  .product__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: auto;
    border-bottom: 1px solid var(--pink);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .product__image img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .product__name {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .product__code {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  
  .product__action {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin: auto;
    padding: 5px 15px 7px 15px;
    display: block;
    margin-top: 20px;
  }
  
  .product__action * { pointer-events: none; }
  
  .product__action .shape__text {
    display: flex;
    align-items: center;
  }
  
  .product__action .shape__text i {
    font-size: 10px;
    color: white;
    display: inline-block;
    margin-right: 5px;
  }
  
  .product__options {
    position: absolute;
    right: 0;
    top: 47px;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 10px;
  }
  
  .product__option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    background-color: #D2D2D2;
    border-radius: 50%;
  }
  
  .product__option i {
    font-size: 12px;
    pointer-events: none;
  }
  
}