#support {

  .banner::before {
    background-color: var(--blue-text);
  }
  
  .banner::after {
    background-color: var(--sky);
  }
  
  .banner__hero {
    color: var(--sky);
    font-weight: 700;
  }

  .banner__subtitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .banner__image {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  
  .banner__image img {
    width: 100%;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto;
    transform-style: preserve-3d;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--blue);
      left: 0;
      top: 50%;
      transform: translateZ(-1px);
    }

    .divider__center {
      width: 105px;
      padding: 3px 10px 0 10px;
      background-color: white;
    }

    .divider__side {
      width: 110px;
      background-color: white;
      padding-left: 10px;
      
      &:first-child {
        transform: scaleX(-1);
      }
      
    }
    
  }

  .support-options {
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    padding-bottom: 60px;

    .support__opt {
      width: calc(100% / 3 - 100px / 3);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px;
      box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.15);

      &:nth-child(1) { background-color: var(--blue); }
      &:nth-child(2) {
        background-color: var(--sky);

        .support__opt-key {
          margin-top: 15px;
          font-size: 26px;
        }
        
      }
      &:nth-child(3) { background-color: var(--green); }

      .support__opt-img {
        width: 180px;
        margin-bottom: 25px;
      }

      .support__opt-key {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
      }

      .support__opt-value {
        color: white;
        font-size: 20px;
        margin-top: 5px;
        font-weight: 300;
      }
      
    }
    
  }
  
}