.chat-bot {
  position: relative;
  z-index: 1;

  .chat-bot__preview {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: block;
    width: 100px;
  }
  
  .chat-bot__caller img {
    display: block;
    width: 100%;
  }
  
  .chat-bot__preview-msg {
    color: white;
    position: absolute;
    top: -15px;
    right: 85%;
    padding: 2px 8px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--sky);
    transform-style: preserve-3d;
  }
  
  .chat-bot__preview-msg::before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 15px;
    bottom: -2px;
    right: 4px;
    background-color: var(--sky);
    transform: skewY(40deg) translateZ(-1px) rotate(-8deg);
    border-bottom-right-radius: 2px;
  }
  
  .chat-bot__chat {
    width: 350px;
    position: fixed;
    right: 50px;
    bottom: 10px;
    z-index: 1;
    transform: translateY(110%);
    transition: 0.5s;
  }
  
  .chat__header {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
  }
  
  .chat__close {
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: var(--orange);
    border-radius: 50%;
  }
  
  .chat__close i {
    display: block;
    color: white;
  }
  
  .chat__header-img {
    display: block;
    width: 35px;
  }
  
  .chat__header-title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
  }
  
  .chat__header-title::after {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    bottom: 0;
    display: block;
    height: 23px;
    width: 72px;
    background-image: url(../../images/layout/chat-bot-header-deco.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .chat__content {
    background-color: #B3EAF9;
    border-radius: 0 0 15px 15px;
    padding: 20px;
  }
  
  .chat__history {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-bottom: 20px;
    min-height: 260px;
    position: relative;
  }
  
  .chat__history::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(../../images/layout/chat-bot-history-center-deco.png);
    background-size: 50%;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  
  .chat__history-corner {
    display: block;
    height: 70px;
    width: 51.10px;
    position: absolute;
    background-image: url(../../images/layout/chat-bot-history-corner-deco.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .chat__history-corner:nth-child(1) {
    top: 5px;
    left: 5px;
  }
  .chat__history-corner:nth-child(2) {
    top: 5px;
    right: 5px;
    transform: scaleX(-1);
  }
  .chat__history-corner:nth-child(3) {
    right: 5px;
    bottom: 5px;
    transform: scale(-1);
  }
  .chat__history-corner:nth-child(4) {
    bottom: 5px;
    left: 5px;
    transform: scaleY(-1);
  }
  
  .chat__message {
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .chat__message::before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 15px;
    bottom: -2px;
    border-bottom-right-radius: 2px;
  }
  
  .chat__message--sent,
  .chat__message--sent::before { background-color: var(--sky); }
  .chat__message--received,
  .chat__message--received::before { background-color: var(--pink); }
  
  .chat__message--sent::before {
    right: 4px;
    transform: skewY(40deg) translateZ(-1px) rotate(-8deg);
  }
  
  .chat__message--received::before {
    left: 4px;
    transform: skewY(-40deg) translateZ(-1px) rotate(8deg);
  }
  
  .chat__type {
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .chat__type-send {
    padding: 8px 10px;
  }
  
  .chat__type-send i {
    font-size: 18px;
  }
  
  .chat__type textarea {
    color: #333;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    resize: none;
    height: 38px;
  }
  
  .chat__type textarea::placeholder { color: var(--gray-text); }
  
}