// Modal products
.modal {
	display: none;
	opacity: 0;
	transition: 0.3s;
}

.modal-product .container {
	background-image: url(../images/products/bg-modal-added-cart.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 354px;
	max-width: 850px;
	grid-gap: 30px;
	padding: 20px 70px;
	position: relative;
	transform: translateY(100vh);
	transition: 0.2s;
}

.modal-product__image {
	width: 35%;
	padding: 30px;
}

.modal-product__image img {
	width: 100%;
}

.modal-product__detail {
	width: 65%;
}

.modal-product__status {
	color: var(--pink);
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	grid-gap: 5px;
	i {
		color: inherit;
		font-size: 16px;
	}
}

.modal-product__name {
	font-size: 24px;
	font-weight: 700;
	color: var(--blue);
}

.modal-product__code {
	font-size: 24px;
	color: var(--blue);
}

.modal-product__options {
	display: flex;
	align-items: center;
	grid-gap: 20px;
	margin-top: 20px;
}

.modal-product__options--detail {
	margin-top: 5px;
}

.modal-product__options > *:not(.filter__handler):not(span) {
	width: 160px;
	border-radius: 7px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	color: white;
	text-align: center;
}

.modal-product__option-1 { background-color: var(--sky); }
.modal-product__option-2 { background-color: var(--orange); }

.modal-product__cut {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-6deg) translate(-2px, 45px) skewY(2.3deg);
	border-top-left-radius: 20px;
	overflow: hidden;
}

.modal-product__price {
	position: absolute;
	top: 40px;
	left: -10px;
	background-color: var(--sky);
	border-bottom-right-radius: 10px;
	padding: 25px 15px 15px 25px;
	color: white;
	font-weight: 600;
	font-size: 18px;
	line-height: 12px;
	text-align: center;
	transform: rotate(6deg) translate(2px, -45px) skewY(-2.3deg);
}

.modal-product__price small {
	font-size: 10px;
	text-transform: uppercase;
	color: inherit;
	font-weight: 600;
}

.modal-product__options--detail > span {
	font-size: 14px;
	font-weight: 600;
	color: var(--green);
}

.modal-product__options--detail .modal-product__option-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 5px;
	width: 120px;
}

.modal-product__option-2 i {
	font-size: 15px;
}

// Retiro de Lucas
#modal-confirm-lucas .modal-container {
  background-image: url(../images/products/bg-modal-added-cart.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 354px;
	max-width: 850px;
	padding: 40px 70px 20px 70px;
	position: relative;
	transform: translateY(100vh);
	transition: 0.2s;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  grid-gap: 8px;
  
  h3 {
    color: var(--blue);
    font-weight: 700;
    font-size: 38px;
  }

  p {
    color: var(--blue);
    font-size: 18px;
  }

  .actions {
    display: flex;
    grid-gap: 15px;
    margin-top: 30px;

    button {
      color: white;
      border-radius: 8px;
      padding: 10px 25px;
      font-weight: 700;
      font-size: 22px;

      &.actions__cancel { background-color: var(--orange); }
      &.actions__accept { background-color: var(--sky); }
      
    }
    
  }
  
}