<div class="chat-bot">
  <div class="chat-bot__preview">
    <button class="chat-bot__caller" type="button">
      <img src="../../images/layout/chat-bot-caller.png" alt="Chat bot">
    </button>
    <p class="chat-bot__preview-msg">&iexcl;Hola!</p>
  </div>
  <div class="chat-bot__chat">
    <div class="chat__header">
      <button class="chat__close" type="button"><i class="icon-close"></i></button>
      <img class="chat__header-img" src="../../images/layout/chat-bot-caller.png">
      <p class="chat__header-title">Chatea con nosotros</p>
    </div>
    <div class="chat__content">
      <div class="chat__history">
        <span class="chat__history-corner"></span>
        <span class="chat__history-corner"></span>
        <span class="chat__history-corner"></span>
        <span class="chat__history-corner"></span>
        <p class="chat__message chat__message--sent">Hola, &iquest;C&oacute;mo podemos ayudarte?</p>
        <p class="chat__message chat__message--received">Hola, buenas tardes, quisiera resolver una duda sobre el app.</p>
      </div>
      <div class="chat__type">
        <textarea type="text" placeholder="Hola, buenas tardes"></textarea>
        <button class="chat__type-send">
          <i class="icon-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>