<div class="product">
  <div class="product__price">{{price}}<br><small>lucas</small></div>
  <div class="product__options">
    <button class="product__option" data-action="like" type="button"><i class="icon-heart-o"></i></button>
    <button class="product__option" data-action="expand" type="button"><i class="icon-eye"></i></button>
    <button class="product__option" data-action="detail" type="button"><i class="icon-glass-2"></i></button>
  </div>
  <div class="product__image">
    <img src="{{image}}" alt="{{name}}">
  </div>
  <p class="product__name">{{name}}</p>
  <p class="product__code">Cod. {{code}}</p>
  <button type="button" class="product__action shape" data-action="cart">
    <span class="shape__text"><i class="icon-cart"></i>Canjear</span>
    <img class="shape__box" src="../../images/products/shape-exchange.png">
  </button>
</div>