<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="exchange" data-header="2" data-footer="2">
  
      <div class="glide carousel container">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img src="../../images/products/carousel-1.png">
            </li>
            <li class="glide__slide">
              <img src="../../images/products/carousel-2.png">
            </li>
            <li class="glide__slide">
              <img src="../../images/products/carousel-3.png">
            </li>
          </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
      </div>
    
      <div class="section-title container">
        <h2 class="section-title__text">Canje de productos</h2>
        <span class="section-title__divider"></span>
        <img class="section-title__img" src="../../images/product-detail/deco-others.png">
      </div>
    
      <div class="steps container">
        <button class="step step--active" type="button" data-step="1">
          <span class="step__number shape">
            <span class="shape__text">1</span>
            <img src="../../images/exchange/shape-step.png" class="shape__box">
          </span>
          <span class="step__title">Resumen de canje</span>
        </button>
        <button class="step" type="button" data-step="2">
          <span class="step__number shape">
            <span class="shape__text">2</span>
            <img src="../../images/exchange/shape-step.png" class="shape__box">
          </span>
          <span class="step__title">Datos personales</span>
        </button>
        <button class="step" type="button" data-step="3">
          <span class="step__number shape">
            <span class="shape__text">3</span>
            <img src="../../images/exchange/shape-step.png" class="shape__box">
          </span>
          <span class="step__title">Direcci&oacute;n de env&iacute;o</span>
        </button>
        <button class="step" type="button" data-step="4">
          <span class="step__number shape">
            <span class="shape__text">4</span>
            <img src="../../images/exchange/shape-step.png" class="shape__box">
          </span>
          <span class="step__title">Lucas usadas</span>
        </button>
      </div>
    
      <div class="step-indicator container">
        <div class="step-indicator__position"></div>
      </div>
    
      <div class="step-content container">
    
        <div class="content content--active" data-content="1">
          <div class="exchange-table container">
            <div class="exchange-shape shape">
              <span class="shape__text">Productos</span>
              <img class="shape__box" src="../../images/exchange/shape-table.png">
            </div>
            <ul class="table-head">
              <li>Productos</li>
              <li>Lucas</li>
              <li>Cantidad</li>
              <li>Subtotal</li>
            </ul>
            <ul class="table-row">
              <li class="column__product">
                <div><img src="../../images/products/product-1.png"></div>
                <span>Cafetera con Filtro RCF-CM4277 Negro <br> Cod. NSHG010477</span>
              </li>
              <li class="column__price">250 Lucas</li>
              <li class="column__quantity">1</li>
              <li class="column__subtotal">250 Lucas</li>
            </ul>
            <ul class="table-row">
              <li class="column__product">
                <div><img src="../../images/products/product-2.png"></div>
                <span>Licuadora <br> Cod. NSHG010477</span>
              </li>
              <li class="column__price">150 Lucas</li>
              <li class="column__quantity">1</li>
              <li class="column__subtotal">150 Lucas</li>
            </ul>
          </div>
      
          <div class="total container">
            <div class="total__cart">
              <p>Total del carrito</p>
              <div>
                <img src="../../images/common/plus.png">
                <span>592</span>
              </div>
            </div>
            <div class="total__options">
              <button type="button">Aceptar</button>
            </div>
          </div>
        </div>
    
        <div class="content" data-content="2">
          <div class="personal-data">
            <label class="textfield">
              <span class="textfield__placeholder">Usuario*</span>
              <input class="textfield__input" type="text">
            </label>
            <label class="textfield">
              <span class="textfield__placeholder">Nombres*</span>
              <input class="textfield__input" type="text">
            </label>
            <label class="textfield">
              <span class="textfield__placeholder">Apellidos*</span>
              <input class="textfield__input" type="text">
            </label>
            <label class="textfield">
              <span class="textfield__placeholder">Tel&eacute;fono*</span>
              <input class="textfield__input" type="text">
            </label>
            <label class="textfield">
              <span class="textfield__placeholder">Correo*</span>
              <input class="textfield__input" type="text">
            </label>
            <div class="personal-data__confirm">
              <button type="button">Aceptar</button>
            </div>
          </div>
        </div>
    
        <div class="content" data-content="3">
          <div class="location-data">
            <div class="row">
              <div class="dropdown">
                <div class="dropdown__caller">
                  <span class="dropdown__placeholder">Departamento*</span>
                  <input class="dropdown__input" type="text" readonly>
                  <i class="icon-down dropdown__arrow"></i>
                </div>
                <div class="dropdown__list-container">
                  <ul class="dropdown__list">
                    <li class="dropdown__item">Option 1</li>
                    <li class="dropdown__item">Option 2</li>
                    <li class="dropdown__item">Option 3</li>
                    <li class="dropdown__item">Option 4</li>
                    <li class="dropdown__item">Option 5</li>
                    <li class="dropdown__item">Option 6</li>
                    <li class="dropdown__item">Option 7</li>
                    <li class="dropdown__item">Option 8</li>
                    <li class="dropdown__item">Option 9</li>
                    <li class="dropdown__item">Option 10</li>
                  </ul>
                </div>
              </div>
              <div class="dropdown">
                <div class="dropdown__caller">
                  <span class="dropdown__placeholder">Provincia*</span>
                  <input class="dropdown__input" type="text" readonly>
                  <i class="icon-down dropdown__arrow"></i>
                </div>
                <div class="dropdown__list-container">
                  <ul class="dropdown__list">
                    <li class="dropdown__item">Option 1</li>
                    <li class="dropdown__item">Option 2</li>
                    <li class="dropdown__item">Option 3</li>
                    <li class="dropdown__item">Option 4</li>
                    <li class="dropdown__item">Option 5</li>
                    <li class="dropdown__item">Option 6</li>
                    <li class="dropdown__item">Option 7</li>
                    <li class="dropdown__item">Option 8</li>
                    <li class="dropdown__item">Option 9</li>
                    <li class="dropdown__item">Option 10</li>
                  </ul>
                </div>
              </div>
              <div class="dropdown">
                <div class="dropdown__caller">
                  <span class="dropdown__placeholder">Distrito*</span>
                  <input class="dropdown__input" type="text" readonly>
                  <i class="icon-down dropdown__arrow"></i>
                </div>
                <div class="dropdown__list-container">
                  <ul class="dropdown__list">
                    <li class="dropdown__item">Option 1</li>
                    <li class="dropdown__item">Option 2</li>
                    <li class="dropdown__item">Option 3</li>
                    <li class="dropdown__item">Option 4</li>
                    <li class="dropdown__item">Option 5</li>
                    <li class="dropdown__item">Option 6</li>
                    <li class="dropdown__item">Option 7</li>
                    <li class="dropdown__item">Option 8</li>
                    <li class="dropdown__item">Option 9</li>
                    <li class="dropdown__item">Option 10</li>
                  </ul>
                </div>
              </div>
            </div>
            <label class="textfield">
              <span class="textfield__placeholder">Direcci&oacute;n*</span>
              <input class="textfield__input" type="text">
            </label>
            <label class="textfield">
              <span class="textfield__placeholder">Referencia*</span>
              <input class="textfield__input" type="text">
            </label>
    
            <div class="location-data__confirm">
              <button type="button">Canjear</button>
            </div>
          </div>
        </div>
    
        <div class="content" data-content="4">
          <div class="exchanged">
            <div class="exchanged__box">
              <p>
                <span>Estas canjeando</span>
                <span><img src="../../images/common/plus.png">580 lucas</span>
              </p>
              <p>Lucas disponibles: 2150</p>
            </div>
            <div class="exchange-confirm">
              <a href="../../views/pages/confirm.html"><i class="icon-check-circle"></i>Confirmar canje</a>
            </div>
          </div>
        </div>
    
      </div>
    
      <div class="deco container">
        <img src="../../images/exchange/deco-table.png">
      </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
    <script type="module" src="../../scripts/pages/exchange.js"></script>
</body>
</html>

