<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="home">

			<div data-start class="banner">
				<div class="container">
					<p class="banner__hero">
						La app para<br>
						<b>ganar platita</b><br>
						conectando<br>
						<b class="shape">
							<span class="shape__text">a tu gente</span>
							<img class="shape__box" src="../../images/home/shape-tag-hero-1.png">
						</b>
					</p>
					<img class="banner__image" src="../../images/home/hero-person-1.png" alt="Hero">
					<div class="banner__indicator">
						<button class="banner__dot banner__dot--active" type="button">
							<span class="banner__dot-icon"></span>
						</button>
						<button class="banner__dot" type="button">
							<span class="banner__dot-icon"></span>
						</button>
					</div>
				</div>
				<button class="banner__scroll" type="button">
					<!-- <img class="banner__scroll-icon" src="../../images/home/hero-icon-scroll.png"> -->
					<i class="icon-scroll"></i>
				</button>
			</div>
		
			<div class="welcome container">
				<h1 class="welcome__title">
					<img class="welcome__title-deco" src="../../images/common/deco-leafs.png">
					Bienvenido a +Lucas
					<img class="welcome__title-deco" src="../../images/common/deco-leafs.png">
				</h1>
				<img class="temp-video" src="../../images/home/video.png">
				<h2 class="welcome__subtitle">Ganar platita extra es muy f&aacute;cil</h2>
				<div class="welcome__steps">
					<div class="welcome__step">
						<span class="welcome__step-icon"><img src="../../images/home/icon-cellphone.png"></span>
						<span class="welcome__step-dot"></span>
						<button type="button" class="welcome__step-label shape">
							<img class="shape__box" src="../../images/home/shape-join.png">
							<span class="shape__text">Af&iacute;liate <br> facilito <i class="icon-down"></i></span>
						</button>
					</div>
					<div class="welcome__step">
						<span class="welcome__step-icon"><img src="../../images/home/icon-chip.png"></span>
						<span class="welcome__step-dot"></span>
						<button type="button" class="welcome__step-label shape">
							<img class="shape__box" src="../../images/home/shape-connect.png">
							<span class="shape__text">Conecta <br> a tu gente <i class="icon-down"></i></span>
						</button>
					</div>
					<div class="welcome__step">
						<span class="welcome__step-icon"><img src="../../images/home/icon-money.png"></span>
						<span class="welcome__step-dot"></span>
						<button type="button" class="welcome__step-label shape">
							<img class="shape__box" src="../../images/home/shape-exchange.png">
							<span class="shape__text">Canjea <br> y gana <i class="icon-down"></i></span>
						</button>
					</div>
				</div>
			</div>
		
			<div class="step-section step-section--join container">
				<div class="step-section__info">
					<h3 class="step-section__info-title">Af&iacute;liate facilito</h3>
					<p class="step-section__info-subtitle">Descaga la app, reg&iacute;strate con tus datos, capac&iacute;tate con nuestro vide de inducci&oacute;n y ya estas listo para empezar.</p>
					<button type="button" class="step-section__info-download">
						<img src="../../images/common/play-store.png" alt="Descarga">
					</button>
				</div>
				<div class="step-section__image">
					<img src="../../images/home/home-join.png" alt="Af&iacute;liate facilito">
				</div>
			</div>
		
			<div class="step-section step-section--connect container">
				<div class="step-section__info">
					<h3 class="step-section__info-title">Conecta a tu gente</h3>
					<p class="step-section__info-subtitle">Vendiendo <b>chips, recargas, equipos, accesorios y recaudos de recibos.</b></p>
					<p class="step-section__info-subtitle"><b>&iquest;C&oacute;mo empezar?</b> Adquiere un pack de bienvenida que contiene <b>manuales, merch y chips</b> para que puedas iniciar tus primeras ventas.</p>
					<p class="step-section__info-subtitle">Por cada producto que ventas obtendr&aacute;s una comisi&oacute;n asignada; ademas conforme vaysa creciendo, nosotros premiaremos tu productividad.</p>
				</div>
				<div class="step-section__image">
					<img src="../../images/home/home-connect.png" alt="Conecta a tu gente">
				</div>
			</div>
		
			<div class="step-section step-section--exchange container">
				<div class="step-section__info">
					<h3 class="step-section__info-title">Canjea y gana</h3>
					<p class="step-section__info-subtitle">Cada sol equivales a una <b>LUCA</b>, que podr&aacute;s <b>canjearlas</b> por electrodom&eacute;sticos, servicios, productos para tu bodega, saldo y <b>dinero en efectivo</b> disponible.</p>
					<p class="step-section__info-subtitle">Tu participaci&oacute;n y crecimiento es muy importante, es por eso que estaremos pendientes de tus avances y premiaremos tus logros.</p>
				</div>
				<div class="step-section__image">
					<img src="../../images/home/home-exchange.png" alt="Conecta a tu gente">
				</div>
			</div>
		
		</div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
		<script type="module" src="../../scripts/pages/home.js"></script>
</body>
</html>