<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="learning" data-header="2" data-footer="2">

      <div class="section-title container">
        <h2 class="section-title__text">Capacitaciones</h2>
        <span class="section-title__divider"></span>
        <img class="section-title__img" src="../../images/product-detail/deco-others.png">
      </div>
    
      <div class="trainings container">
    
        <div class="training training--active">
          <div class="training__img">
            <img src="../../images/learning/learning-1.png">
          </div>
          <div class="training__detail">
            <h3 class="training__title">C&oacute;mo administrar mis finanzas</h3>
            <p class="training__available">Disponible hasta: 15/07</p>
            <button class="training__action shape" type="button" data-training="1">
              <span class="shape__text">Preguntas</span>
              <img class="shape__box" src="../../images/learning/shape-learning-1.png">
            </button>
            <img class="training__deco" src="../../images/learning/deco-learning.png">
          </div>
        </div>
    
        <div class="training ">
          <div class="training__img">
            <img src="../../images/learning/learning-2.png">
          </div>
          <div class="training__detail">
            <h3 class="training__title">Alimentaci&oacute;n sana</h3>
            <p class="training__available">Disponible hasta: 15/07</p>
            <button class="training__action shape" type="button" data-training="2">
              <span class="shape__text">Preguntas</span>
              <img class="shape__box" src="../../images/learning/shape-learning-2.png">
            </button>
            <img class="training__deco" src="../../images/learning/deco-learning.png">
          </div>
        </div>
    
        <div class="training ">
          <div class="training__img">
            <img src="../../images/learning/learning-3.png">
          </div>
          <div class="training__detail">
            <h3 class="training__title">Relaciones de trabajo</h3>
            <p class="training__available">Disponible hasta: 15/07</p>
            <button class="training__action shape" type="button" data-training="3">
              <span class="shape__text">Preguntas</span>
              <img class="shape__box" src="../../images/learning/shape-learning-3.png">
            </button>
            <img class="training__deco" src="../../images/learning/deco-learning.png">
          </div>
        </div>
    
        <div class="training ">
          <div class="training__img">
            <img src="../../images/learning/learning-4.png">
          </div>
          <div class="training__detail">
            <h3 class="training__title">Relaciones personales</h3>
            <p class="training__available">Disponible hasta: 15/07</p>
            <button class="training__action shape" type="button" data-training="4">
              <span class="shape__text">Preguntas</span>
              <img class="shape__box" src="../../images/learning/shape-learning-4.png">
            </button>
            <img class="training__deco" src="../../images/learning/deco-learning.png">
          </div>
        </div>
        
      </div>
    
      <div class="detail container">
    
        <div class="indicator">
          <span class="indicator__arrow"></span>
        </div>
    
        <div class="content content--active" data-training="1">
    
          <div class="content__info">
            <div class="info__image">
              <img src="../../images/learning/learning-1.png">
              <img class="info__image-mask" src="../../images/learning/mask-learning-1.png">
            </div>
            <div class="info__detail">
              <div class="info__title shape">
                <span class="shape__text">C&oacute;mo administrar mis finanzas</span>
                <img class="shape__box" src="../../images/learning/shape-title-learning-1.png">
              </div>
              <p class="info__available">Disponible hasta: 15/07</p>
              <div class="info__desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
                  feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                  feugait nulla facilisi.</p>
                <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis a commodo consequat.</p>
              </div>
            </div>
          </div>
    
          <div class="content__res">
            <p class="content__res-title">Recursos disponibles</p>
            <div class="content__res-btn">
              <button type="button" class="shape">
                <span class="shape__text">Recurso 1</span>
                <img class="shape__box" src="../../images/learning/shape-res-1.png">
              </button>
              <button type="button" class="shape">
                <span class="shape__text">Recurso 2</span>
                <img class="shape__box" src="../../images/learning/shape-res-2.png">
              </button>
              <button type="button" class="shape">
                <span class="shape__text">Recurso 3</span>
                <img class="shape__box" src="../../images/learning/shape-res-3.png">
              </button>
              <button type="button" class="shape">
                <span class="shape__text">Recurso 4</span>
                <img class="shape__box" src="../../images/learning/shape-res-4.png">
              </button>
            </div>
          </div>
    
          <div class="content__quest">
            <p class="content__quest-title">Cuestionario</p>
            <div class="questions">
              <div class="quest">
                <span class="quest__title shape">
                  <span class="shape__text">Pregunta 1</span>
                  <img class="shape__box" src="../../images/learning/shape-quest-1.png">
                </span>
                <label class="radio">
                  <input type="radio" name="question-1" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 1</span>
                </label>
                <label class="radio">
                  <input type="radio" name="question-1" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 2</span>
                </label>
                <label class="radio">
                  <input type="radio" name="question-1" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 3</span>
                </label>
                <label class="radio">
                  <input type="radio" name="question-1" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 4</span>
                </label>
              </div>
              <div class="quest">
                <span class="quest__title shape">
                  <span class="shape__text">Pregunta 2</span>
                  <img class="shape__box" src="../../images/learning/shape-quest-1.png">
                </span>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 1</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 2</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 3</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 4</span>
                </label>
              </div>
              <div class="quest">
                <span class="quest__title shape">
                  <span class="shape__text">Pregunta 3</span>
                  <img class="shape__box" src="../../images/learning/shape-quest-1.png">
                </span>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 1</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 2</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 3</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 4</span>
                </label>
              </div>
              <div class="quest">
                <span class="quest__title shape">
                  <span class="shape__text">Pregunta 4</span>
                  <img class="shape__box" src="../../images/learning/shape-quest-1.png">
                </span>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 1</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 2</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 3</span>
                </label>
                <label class="radio">
                  <input type="radio" hidden>
                  <span class="radio__dot"><i class="icon-check"></i></span>
                  <span class="radio__label">Opci&oacute;n 4</span>
                </label>
              </div>
            </div>
    
            <button class="content__quest-send" type="button">Enviar respuestas</button>
          </div>
          
        </div>
    
        <div class="content" data-training="2">Alimentaci&oacute;n sana</div>
    
        <div class="content" data-training="3">Relaciones de trabajo</div>
    
        <div class="content" data-training="4">Relaciones personales</div>
        
      </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
    <script type="module" src="../../scripts/pages/learning.js"></script>
</body>
</html>

