<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="mis-lucas">

      <div data-start class="banner">
        <div class="container">
          <p class="banner__hero">
            Tu esfuerzo tiene<br>
            <b>recompensas</b><br>
            <button type="button" class="shape">
              <span class="shape__text">Revisa tus lucas aqu&iacute;</span>
              <img class="shape__box" src="../../images/mis-lucas/shape-hero.png">
            </button>
          </p>
          <img class="banner__image" src="../../images/mis-lucas/hero.png" alt="Hero">
        </div>
      </div>
    
      <div class="lucas container">
        <div class="lucas__tabs">
          <div class="lucas__tab lucas__tab--accumulated lucas__tab--active">
            <button class="lucas__tab-btn" type="button"><b>Lucas acumuladas:</b> 26,000</button>
          </div>
          <div class="lucas__tab lucas__tab--redeemed">
            <button class="lucas__tab-btn" type="button"><b>Lucas canjeadas:</b> 5,000</button>
          </div>
        </div>
        <div class="lucas__filters">
          <div class="filter__period">
            <span>Periodo</span>
    
            <div class="filter__handler filter__handler--day">
              <span class="filter__handler-selected">27</span>
              <ul class="filter__handler-options">
                <li>26</li>
                <li class="filter__handler-option--selected">27</li>
                <li>28</li>
              </ul>
    
              <button class="filter__handler-up" type="button"><i class="icon-up"></i></button>
              <button class="filter__handler-down" type="button"><i class="icon-down"></i></button>
            </div>
    
            <div class="filter__handler filter__handler--month">
              <span class="filter__handler-selected">Diciembre</span>
              <ul class="filter__handler-options">
                <li>Noviembre</li>
                <li class="filter__handler-option--selected">Diciembre</li>
                <li>Enero</li>
              </ul>
    
              <button class="filter__handler-up" type="button"><i class="icon-up"></i></button>
              <button class="filter__handler-down" type="button"><i class="icon-down"></i></button>
            </div>
    
            <div class="filter__handler filter__handler--year">
              <span class="filter__handler-selected">2020</span>
              <ul class="filter__handler-options">
                <li>2019</li>
                <li class="filter__handler-option--selected">2020</li>
                <li>2021</li>
              </ul>
    
              <button class="filter__handler-up" type="button"><i class="icon-up"></i></button>
              <button class="filter__handler-down" type="button"><i class="icon-down"></i></button>
            </div>
    
          </div>
          <div class="filter__divider"></div>
          <div class="filter__update">&Uacute;ltima actualizaci&oacute;n: 10-06-2020</div>
        </div>
      </div>
    
      <div class="lucas-table lucas-table--accumulated lucas-table--active container">
        <div class="lucas-table__header">
          <p>Fecha</p>
          <p>Detalle</p>
          <p>Lucas</p>
        </div>
        <table>
          <tr>
            <td>19/11/2016</td>
            <td>Lorem ipsum</td>
            <td>50</td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>Lorem ipsum</td>
            <td>50</td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>Lorem ipsum</td>
            <td>50</td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>Lorem ipsum</td>
            <td>50</td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>Lorem ipsum</td>
            <td>50</td>
          </tr>
        </table>
      </div>
    
      <div class="lucas-table lucas-table--redeemed container">
        <div class="lucas-table__header">
          <p>Fecha</p>
          <p>Lucas canjeadas</p>
          <p>N° de pedido</p>
          <p>Ver detalle de canje</p>
        </div>
        <table>
          <tr>
            <td>19/11/2016</td>
            <td>1,000</td>
            <td>011231</td>
            <td><button type="button"><i class="icon-glass"></i></button></td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>1,000</td>
            <td>011231</td>
            <td><button type="button"><i class="icon-glass"></i></button></td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>1,000</td>
            <td>011231</td>
            <td><button type="button"><i class="icon-glass"></i></button></td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>1,000</td>
            <td>011231</td>
            <td><button type="button"><i class="icon-glass"></i></button></td>
          </tr>
          <tr>
            <td>19/11/2016</td>
            <td>1,000</td>
            <td>011231</td>
            <td><button type="button"><i class="icon-glass"></i></button></td>
          </tr>
        </table>
      </div>
    
      <div class="lucas-options container">
    
        <div class="paginator container">
          <button class="paginator__button paginator__button--active" type="button">1</button>
          <button class="paginator__button" type="button">2</button>
          <button class="paginator__button" type="button">3</button>
          <button class="paginator__button paginator__button--next" type="button"><i class="icon-right"></i></button>
        </div>
    
        <button class="lucas-download" type="button">
          <span>Descargar tu<br>Estado de Cuenta</span>
          <i class="icon-download"></i>
        </button>
        
      </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
    <script type="module" src="../../scripts/pages/mis-lucas.js"></script>
</body>
</html>

