<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="news-detail" data-header="2" data-footer="2">

      <div class="section-title container">
        <h2 class="section-title__text">Novedades</h2>
        <span class="section-title__divider"></span>
        <img class="section-title__img" src="../../images/product-detail/deco-others.png">
      </div>
      
      <div class="content container">
    
        <div class="hero">
          <span class="hero__category">Categor&iacute;a 01</span>
          <img src="../../images/news/hero-detail.png">
        </div>
    
        <h2 class="title">Tips para generar platita extra</h2>
    
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
          exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    
        <p class="paragraph">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
          praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod</p>
    
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
          exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
          feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis
          eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
    
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
          exerci</p>
    
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
          exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
          feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis
          eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
        
        <div class="note">
          <div class="note__author">
            <img src="../../images/layout/logo.png">
            <p>
              <b>By admin</b>
              <small>May 30, 2021</small>
            </p>
          </div>
          <div class="note__share">
            <span>Compartir</span>
            <a href="javascript:void(0)"><i class="icon-facebook"></i></a>
            <a href="javascript:void(0)"><i class="icon-twitter"></i></a>
            <a href="javascript:void(0)"><i class="icon-link"></i></a>
          </div>
        </div>
    
        <div class="divider">
          <img src="../../images/exchange/deco-table.png">
        </div>
    
        <div class="comment">
          <p class="comment__title">D&eacute;janos un comentario</p>
          <form class="comment__form">
            <div class="form__inputs">
              <label class="textfield">
                <span class="textfield__placeholder">Escribe un comentario</span>
                <textarea class="textfield__input"></textarea>
              </label>
              <div class="form__col">
                <label class="textfield">
                  <span class="textfield__placeholder">Nombre</span>
                  <input class="textfield__input" type="text">
                </label>
                <label class="textfield">
                  <span class="textfield__placeholder">Correo</span>
                  <input class="textfield__input" type="text">
                </label>
              </div>
            </div>
            <button type="button" class="shape form__action">
              <span class="shape__text">Publicar</span>
              <img class="shape__box" src="../../images/news/shape-banner.png">
            </button>
          </form>
        </div>
    
        <div class="divider">
          <img src="../../images/exchange/deco-table.png">
        </div>
    
        <div class="recents">
          <p class="recents__title">Entradas recientes</p>
          <div class="recents__list">
            <div class="recent">
              <span class="recent__category">Categor&iacute;a 01</span>
              <div class="recent__img">
                <img src="../../images/news/new-1.png" >
              </div>
              <div class="recent__detail">
                <p class="recent__title">Tipos para generar platita extra</p>
                <p class="recent__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="recent__bottom">
                  <span class="recent__date">Marzo 15, 2022</span>
                  <a class="recent__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-sky.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="recent">
              <span class="recent__category">Categor&iacute;a 01</span>
              <div class="recent__img">
                <img src="../../images/news/new-2.png" >
              </div>
              <div class="recent__detail">
                <p class="recent__title">Tipos para generar platita extra</p>
                <p class="recent__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="recent__bottom">
                  <span class="recent__date">Marzo 15, 2022</span>
                  <a class="recent__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-pink.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="recent">
              <span class="recent__category">Categor&iacute;a 01</span>
              <div class="recent__img">
                <img src="../../images/news/new-3.png" >
              </div>
              <div class="recent__detail">
                <p class="recent__title">Tipos para generar platita extra</p>
                <p class="recent__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="recent__bottom">
                  <span class="recent__date">Marzo 15, 2022</span>
                  <a class="recent__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-green.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="recent">
              <span class="recent__category">Categor&iacute;a 01</span>
              <div class="recent__img">
                <img src="../../images/news/new-4.png" >
              </div>
              <div class="recent__detail">
                <p class="recent__title">Tipos para generar platita extra</p>
                <p class="recent__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="recent__bottom">
                  <span class="recent__date">Marzo 15, 2022</span>
                  <a class="recent__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-blue.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
</body>
</html>

