<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="news" data-header="2" data-footer="2">

      <div class="section-title container">
        <h2 class="section-title__text">Novedades</h2>
        <span class="section-title__divider"></span>
        <img class="section-title__img" src="../../images/product-detail/deco-others.png">
      </div>
    
      <div class="glide carousel container">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="slide__content">
                <p class="slide__content-title">Tips para generar platita extra</p>
                <p class="slide__content-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore...</p>
                <a href="../../views/pages/news-detail.html" class="slide__content-action shape">
                  <span class="shape__text">Leer m&aacute;s</span>
                  <img class="shape__box" src="../../images/news/shape-banner.png">
                </a>
                <span class="slide__content-date">May 30 2021</span>
              </div>
              <img src="../../images/news/banner-1.png">
            </li>
            <li class="glide__slide">
              <div class="slide__content">
                <p class="slide__content-title">Tips para generar platita extra</p>
                <p class="slide__content-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore...</p>
                <a href="../../views/pages/news-detail.html" class="slide__content-action shape">
                  <span class="shape__text">Leer m&aacute;s</span>
                  <img class="shape__box" src="../../images/news/shape-banner.png">
                </a>
                <span class="slide__content-date">May 30 2021</span>
              </div>
              <img src="../../images/news/banner-1.png">
            </li>
            <li class="glide__slide">
              <div class="slide__content">
                <p class="slide__content-title">Tips para generar platita extra</p>
                <p class="slide__content-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                  nonummy nibh euismod tincidunt ut laoreet dolore...</p>
                <a href="../../views/pages/news-detail.html" class="slide__content-action shape">
                  <span class="shape__text">Leer m&aacute;s</span>
                  <img class="shape__box" src="../../images/news/shape-banner.png">
                </a>
                <span class="slide__content-date">May 30 2021</span>
              </div>
              <img src="../../images/news/banner-1.png">
            </li>
          </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
      </div>
      
      <div class="news-content container">
    
        <div class="news-list">
    
          <div class="news-list__container">
          
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-1.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-sky.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-2.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-pink.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-3.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-green.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-4.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-blue.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-5.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-sky.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-2.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-pink.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-3.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-green.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-4.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-blue.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
            
            <div class="new">
              <span class="new__category">Categor&iacute;a 01</span>
              <div class="new__img">
                <img src="../../images/news/new-5.png" >
              </div>
              <div class="new__detail">
                <p class="new__title">Tipos para generar platita extra</p>
                <p class="new__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptatibus nisi fugit incidunt nesciunt cum eius tempore ipsa reprehenderit. Reprehenderit id deserunt labore sit esse veniam magnam quis dolor quod.</p>
                <div class="new__bottom">
                  <span class="new__date">Marzo 15, 2022</span>
                  <a class="new__read shape" href="../../views/pages/news-detail.html">
                    <span class="shape__text">Leer m&aacute;s</span>
                    <img src="../../images/news/shape-sky.png" class="shape__box">
                  </a>
                </div>
              </div>
            </div>
    
          </div>
    
          <div class="paginator container">
            <button class="paginator__button paginator__button--active" type="button">1</button>
            <button class="paginator__button" type="button">2</button>
            <button class="paginator__button" type="button">3</button>
            <button class="paginator__button paginator__button--next" type="button"><i class="icon-right"></i></button>
          </div>
          
        </div>
    
        <div class="news-others">
    
          <div class="other">
            <p class="other__date">Marzo 15, 2022</p>
            <p class="other__title">Administra bien tus lucas</p>
            <button class="other__link" type="button"><i class="icon-arrow-right"></i></button>
          </div>
    
          <div class="other">
            <p class="other__date">Marzo 15, 2022</p>
            <p class="other__title">S&aacute;cale jugo a las ventas</p>
            <button class="other__link" type="button"><i class="icon-arrow-right"></i></button>
          </div>
    
          <div class="other">
            <p class="other__date">Marzo 15, 2022</p>
            <p class="other__title">Clientes dif&iacute;ciles</p>
            <button class="other__link" type="button"><i class="icon-arrow-right"></i></button>
          </div>
    
          <div class="other">
            <p class="other__date">Marzo 15, 2022</p>
            <p class="other__title">Mi primera venta</p>
            <button class="other__link" type="button"><i class="icon-arrow-right"></i></button>
          </div>
          
        </div>
        
      </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
</body>
</html>

