<div data-header="2" id="product-detail" class="page">

  <div class="glide carousel container">
		<div class="glide__track" data-glide-el="track">
			<ul class="glide__slides">
				<li class="glide__slide">
					<img src="/images/products/carousel-1.png">
				</li>
				<li class="glide__slide">
					<img src="/images/products/carousel-2.png">
				</li>
				<li class="glide__slide">
					<img src="/images/products/carousel-3.png">
				</li>
			</ul>
		</div>
		<div class="glide__bullets" data-glide-el="controls[nav]">
			<button class="glide__bullet" data-glide-dir="=0"></button>
			<button class="glide__bullet" data-glide-dir="=1"></button>
			<button class="glide__bullet" data-glide-dir="=2"></button>
		</div>
	</div>

	<div class="p-info">
		<div class="p-info__image">

		</div>
		<div class="p-info-detail">
			
		</div>
	</div>
  
</div>