<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="products" class="page">

			<div data-start class="banner">
				<div class="container">
					<p class="banner__hero">
						&iquest;Listo para<br>
						<span>disfrutar de tus</span><br>
						<b>beneficios?</b><br>
						<b class="shape">
							<span class="shape__text">Canjea saldos, productos o dinero</span>
							<img class="shape__box" src="../../images/products/shape-hero.png">
						</b>
					</p>
					<div class="banner__image">
						<img src="../../images/products/hero.png" alt="Hero">
					</div>
				</div>
			</div>
		
			<div class="glide carousel container">
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
						<li class="glide__slide">
							<img src="../../images/products/carousel-1.png">
						</li>
						<li class="glide__slide">
							<img src="../../images/products/carousel-2.png">
						</li>
						<li class="glide__slide">
							<img src="../../images/products/carousel-3.png">
						</li>
					</ul>
				</div>
				<div class="glide__bullets" data-glide-el="controls[nav]">
					<button class="glide__bullet" data-glide-dir="=0"></button>
					<button class="glide__bullet" data-glide-dir="=1"></button>
					<button class="glide__bullet" data-glide-dir="=2"></button>
				</div>
			</div>
		
			<div class="store container">
				<div class="store__header">
					<h2 class="store__title">Cat&aacute;logo</h2>
					<span class="store__header-divider"></span>
					<div class="store__sort">
						<select class="store__sort-select">
							<option value="-1" selected disabled>Ordenar por:</option>
							<option value="price-asc">Precio menor a mayor</option>
							<option value="price-desc">Precio mayor a menor</option>
							<option value="name-asc">Nombre A-Z</option>
							<option value="price-asc">Nombre Z-A</option>
						</select>
						<div class="store__sort-icon">
							<i class="icon-down"></i>
						</div>
					</div>
				</div>
		
				<div class="store__body">
					<div class="store__filters">
						<div class="store__categories">
							<h3 class="store__categories-title shape">
								<span class="shape__text">Categor&iacute;as</span>
								<img class="shape__box" src="../../images/products/shape-categories.png">
							</h3>
							<ul class="store__categories-list">
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Gourmet</button>
								</li>
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Entretenimiento</button>
								</li>
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Salud</button>
								</li>
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Belleza</button>
								</li>
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Tecnolog&iacute;a</button>
								</li>
								<li class="store__category">
									<i class="icon-arrow-right"></i>
									<i class="icon-bird" hidden></i>
									<button type="button">Viajes</button>
								</li>
							</ul>
						</div>
						<div class="store__range">
							<h3 class="store__range-title">Filtrar por Lucas</h3>
							<div class="store__range-filter">
								<div class="store__range-slider"></div>
							</div>
							<button type="button" class="shape store__range-apply">
								<span class="shape__text">Aplicar filtro</span>
								<img class="shape__box" src="../../images/products/shape-apply-filter.png">
							</button>
						</div>
					</div>
		
					<div class="store__content">
		
						<div class="store__products"></div>
		
						<div class="paginator container">
							<button class="paginator__button paginator__button--active" type="button">1</button>
							<button class="paginator__button" type="button">2</button>
							<button class="paginator__button" type="button">3</button>
							<button class="paginator__button paginator__button--next" type="button"><i class="icon-right"></i></button>
						</div>
		
					</div>
		
				</div>
		
		
			</div>
		
			<include data-include="common-modal-product"></include>
			
		</div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
		<script type="module" src="../../scripts/pages/products.js"></script>
</body>
</html>

