<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div data-header="2" data-footer="2" id="product-detail" class="page">

			<div class="glide carousel container">
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
						<li class="glide__slide">
							<img src="../../images/products/carousel-1.png">
						</li>
						<li class="glide__slide">
							<img src="../../images/products/carousel-2.png">
						</li>
						<li class="glide__slide">
							<img src="../../images/products/carousel-3.png">
						</li>
					</ul>
				</div>
				<div class="glide__bullets" data-glide-el="controls[nav]">
					<button class="glide__bullet" data-glide-dir="=0"></button>
					<button class="glide__bullet" data-glide-dir="=1"></button>
					<button class="glide__bullet" data-glide-dir="=2"></button>
				</div>
			</div>
		
			<div class="info container">
				<div class="preview">
					<div class="preview__img">
						<button class="preview__handler" type="button"><i class="icon-left"></i></button>
						<img src="../../images/product-detail/preview.png">
						<button class="preview__handler" type="button"><i class="icon-right"></i></button>
					</div>
					<div class="preview__mini">
						<div class="mini"><img src="../../images/product-detail/mini-1.png"></div>
						<div class="mini"><img src="../../images/product-detail/mini-2.png"></div>
						<div class="mini"><img src="../../images/product-detail/mini-3.png"></div>
						<div class="mini"><img src="../../images/product-detail/mini-4.png"></div>
					</div>
				</div>
				<div class="detail">
					<p class="detail__title">Cafetera con Filtro RFC-CM4277 Negro</p>
					<p class="detail__code">Cod. NSHG010477</p>
					<p class="detail__description">Si no puedes comenzar el d&iacute;a sin una buena taza de caf&eacute;, entonces te invitamos a conocer esta cafetera el&eacute;ctrica. &iexcl;D&eacute;jate seducir por el sabor y aroma de un buen caf&eacute; cuando quieras!</p>
					<div class="detail__info">
						<p class="detail__price">3670<small>lucas</small></p>
						<div class="detail__options">
							<span>Cantidad</span>
							<div class="filter__handler filter__handler--product">
								<span class="filter__handler-selected">1</span>
								<ul class="filter__handler-options">
									<li>2</li>
									<li class="filter__handler-option--selected">1</li>
									<li>10</li>
								</ul>
			
								<button class="filter__handler-up" type="button"><i class="icon-up"></i></button>
								<button class="filter__handler-down" type="button"><i class="icon-down"></i></button>
							</div>
							<a class="detail__cart" href="../../views/pages/cart.html">
								<i class="icon-cart"></i>
								Canjear
							</a>
							<button class="detail__like" type="button">
								<i class="icon-heart-o"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		
			<div class="tab tab-detail container">
				<button type="button" class="tab__handler shape" data-info="detail">
					<span class="shape__text">Detalle del producto <i class="icon-down"></i></span>
					<img class="shape__box" src="../../images/product-detail/shape-detail.png">
				</button>
				<div class="tab__content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime nostrum pariatur. Ducimus iste ad, velit voluptatem id aperiam earum laborum rerum illo recusandae minus eligendi aspernatur quam quidem asperiores cumque. Omnis, quia totam qui, dolorum veritatis maxime error libero, aspernatur repellat iste voluptatem nesciunt harum corporis modi! Amet officiis a saepe maxime quas, error accusamus ad libero deserunt quibusdam magni. Corrupti sit veritatis nobis saepe deleniti at mollitia aliquam quas labore inventore qui ab sint iure laboriosam, quo vel dolore dolor reprehenderit autem maiores animi quos. Tempora odit, omnis nemo distinctio, fugit repellendus doloremque ipsum, quaerat atque temporibus alias!</p>
				</div>
			</div>
		
			<div class="tab tab-detail container">
				<button type="button" class="tab__handler shape" data-info="info">
					<span class="shape__text">Informaci&oacute;n de env&iacute;o <i class="icon-down"></i></span>
					<img class="shape__box" src="../../images/product-detail/shape-info.png">
				</button>
				<div class="tab__content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime nostrum pariatur. Ducimus iste ad, velit voluptatem id aperiam earum laborum rerum illo recusandae minus eligendi aspernatur quam quidem asperiores cumque. Omnis, quia totam qui, dolorum veritatis maxime error libero, aspernatur repellat iste voluptatem nesciunt harum corporis modi! Amet officiis a saepe maxime quas, error accusamus ad libero deserunt quibusdam magni. Corrupti sit veritatis nobis saepe deleniti at mollitia aliquam quas labore inventore qui ab sint iure laboriosam, quo vel dolore dolor reprehenderit autem maiores animi quos. Tempora odit, omnis nemo distinctio, fugit repellendus doloremque ipsum, quaerat atque temporibus alias!</p>
				</div>
			</div>
		
			<div class="tab tab-detail container">
				<button type="button" class="tab__handler shape" data-info="tyc">
					<span class="shape__text">T&eacute;rminos y condiciones <i class="icon-down"></i></span>
					<img class="shape__box" src="../../images/product-detail/shape-tyc.png">
				</button>
				<div class="tab__content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime nostrum pariatur. Ducimus iste ad, velit voluptatem id aperiam earum laborum rerum illo recusandae minus eligendi aspernatur quam quidem asperiores cumque. Omnis, quia totam qui, dolorum veritatis maxime error libero, aspernatur repellat iste voluptatem nesciunt harum corporis modi! Amet officiis a saepe maxime quas, error accusamus ad libero deserunt quibusdam magni. Corrupti sit veritatis nobis saepe deleniti at mollitia aliquam quas labore inventore qui ab sint iure laboriosam, quo vel dolore dolor reprehenderit autem maiores animi quos. Tempora odit, omnis nemo distinctio, fugit repellendus doloremque ipsum, quaerat atque temporibus alias!</p>
				</div>
			</div>
		
			<div class="others container">
				<div class="section-title container">
					<h2 class="section-title__text">Te puede interesar</h2>
					<span class="section-title__divider"></span>
					<img class="section-title__img" src="../../images/product-detail/deco-others.png">
				</div>
		
				<div class="other__products"></div>
			</div>
		
			<include data-include="common-modal-product"></include>
			
		</div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
		<script type="module" src="../../scripts/pages/product-detail.js"></script>
</body>
</html>

