<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="scheme" data-header="2" data-footer="2">

      <div class="glide carousel container">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img src="../../images/products/carousel-1.png">
            </li>
            <li class="glide__slide">
              <img src="../../images/products/carousel-2.png">
            </li>
            <li class="glide__slide">
              <img src="../../images/products/carousel-3.png">
            </li>
          </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
        </div>
      </div>
    
      <div class="tab container">
    
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="1">
            <span class="shape__text">Escala Regular _ Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-1.png">
          </button>
          <button type="button" class="tab__bar__btn shape" data-tab="2">
            <span class="shape__text">Escala Intermedia _ Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-2.png">
          </button>
        </div>
    
        <div class="tab__content">
    
          <div class="tab__indicator"></div>
    
          <div class="content content--active" data-tab="1">
            <div class="content__tabs">
              <button type="button" class="content__tab content__tab--active">1era Quincena <br> del 01.02 al 15.02</button>
              <button type="button" class="content__tab">2nda Quincena <br> del 06.02 al 28.02</button>
            </div>
            <div class="content__tables">
    
              <div class="table table--1">
                <ul class="table__head">
                  <li class="table__col">Escalas</li>
                  <li class="table__col">Prepago</li>
                  <li class="table__col">UR</li>
                  <li class="table__col">Postpago<br>alto valor</li>
                  <li class="table__col">PORTA PRE</li>
                  <li class="table__col">PORTA SS OSS</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">5</li>
                  <li class="table__col">115</li>
                  <li class="table__col">63</li>
                  <li class="table__col">17</li>
                  <li class="table__col">15</li>
                  <li class="table__col">6</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">4</li>
                  <li class="table__col">107</li>
                  <li class="table__col">59</li>
                  <li class="table__col">15</li>
                  <li class="table__col">13</li>
                  <li class="table__col">5</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">3</li>
                  <li class="table__col">98</li>
                  <li class="table__col">54</li>
                  <li class="table__col">12</li>
                  <li class="table__col">11</li>
                  <li class="table__col">4</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">2</li>
                  <li class="table__col">76</li>
                  <li class="table__col">42</li>
                  <li class="table__col">9</li>
                  <li class="table__col">8</li>
                  <li class="table__col">2</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">0</li>
                  <li class="table__col">33</li>
                  <li class="table__col">18</li>
                  <li class="table__col">6</li>
                  <li class="table__col">4</li>
                  <li class="table__col">1</li>
                </ul>
              </div>
    
              <div class="table table--2">
                <div class="shape__table shape">
                  <p class="shape__text">TOTAL</p>
                  <img src="../../images/scheme/shape-table.png" class="shape__box">
                </div>
                <ul class="table__head">
                  <li class="table__col"><img src="../../images/layout/logo-square.png"></li>
                  <li class="table__col">Efectivo</li>
                  <li class="table__col">AL</li>
                  <li class="table__col">B. Venta</li>
                  <li class="table__col">B. Valor</li>
                  <li class="table__col">Total</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">625</li>
                  <li class="table__col">527</li>
                  <li class="table__col">814</li>
                  <li class="table__col">374</li>
                  <li class="table__col">140</li>
                  <li class="table__col">2,480</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">570</li>
                  <li class="table__col">456</li>
                  <li class="table__col">740</li>
                  <li class="table__col">359</li>
                  <li class="table__col">136</li>
                  <li class="table__col">2,260</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">494</li>
                  <li class="table__col">383</li>
                  <li class="table__col">639</li>
                  <li class="table__col">344</li>
                  <li class="table__col">131</li>
                  <li class="table__col">1,990</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">380</li>
                  <li class="table__col">287</li>
                  <li class="table__col">492</li>
                  <li class="table__col">303</li>
                  <li class="table__col">95</li>
                  <li class="table__col">1,557</li>
                </ul>
                <ul class="table__row">
                  <li class="table__col">196</li>
                  <li class="table__col">121</li>
                  <li class="table__col">249</li>
                  <li class="table__col">68</li>
                  <li class="table__col">34</li>
                  <li class="table__col">667</li>
                </ul>
              </div>
    
            </div>
          </div>
    
          <div class="content" data-tab="2">Content 2</div>
          
        </div>
        
      </div>
    
      <div class="tab container">
    
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="3">
            <span class="shape__text">Incentivos Adicionales Prepago _ Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-3.png">
          </button>
          <button type="button" class="tab__bar__btn shape" data-tab="4">
            <span class="shape__text">Incentivos Adicionales Postpago _ Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-4.png">
          </button>
        </div>
    
        <div class="tab__content">
    
          <div class="tab__indicator"></div>
    
          <div class="content content--active" data-tab="3">
    
            <div class="incentives">
    
              <div class="incentive">
                <div class="incentive__title">
                  <p>Incentivo UR M1</p>
                </div>
                <div class="incentive__box">
                  <div class="incentive__recharge">
                    <p>Recarga<br>> = s/10</p>
                    <p>+ s/2</p>
                  </div>
                  <div class="incentive__recharge">
                    <p>Recarga<br>> = s/15</p>
                    <p>+ s/3</p>
                  </div>
                </div>
                <div class="incentive__conditions">
                  <b>Condiciones</b>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor </p>
                </div>
              </div>
    
              <div class="incentive">
                <div class="incentive__title">
                  <p>Incentivo UR M2</p>
                </div>
                <div class="incentive__box">
                  <div class="incentive__recharge">
                    <p>Recarga<br>> = s/10</p>
                    <p>+ s/1.5</p>
                    <p>+ s/3</p>
                  </div>
                  <div class="incentive__recharge">
                    <p>Recarga<br>> = s/15</p>
                    <p>+ s/3</p>
                    <p>+ s/6</p>
                  </div>
                </div>
                <div class="incentive__conditions">
                  <b>Condiciones</b>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor </p>
                </div>
              </div>
    
              <div class="incentive">
                <div class="incentive__title">
                  <p>Bono por venta</p>
                </div>
                <div class="incentive__box">
                  <div class="bonus">
                    <p></p>
                    <p>PP5</p>
                    <p>PP20</p>
                    <p></p>
                  </div>
                  <div class="bonus">
                    <p>VR</p>
                    <p>+ s/ 2 <small>Semanal</small></p>
                    <p>+ s/ 2 <small>Semanal</small></p>
                    <p><img src="../../images/layout/logo-square.png"></p>
                  </div>
                  <div class="bonus">
                    <p>PORTA</p>
                    <p>+ s/ 3 <small>Quincenal</small></p>
                    <p>+ s/ 3 <small>Quincenal</small></p>
                    <p><img src="../../images/scheme/payment-green.png"></p>
                  </div>
                </div>
                <div class="incentive__conditions">
                  <b>Condiciones</b>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor </p>
                </div>
              </div>
    
            </div>
    
          </div>
    
          <div class="content" data-tab="4">
            <div class="incentives incentives--2">
    
              <div class="incentive">
                <div class="incentive__title">
                  <p>Bono de Porta SS</p>
                </div>
                <div class="incentive__box">
                  <div class="incentive__flex">
                    <img src="../../images/scheme/payment-green.png">
                    <div>
                      <div class="incentive__recharge">
                        <p>Recarga<br>> = s/10</p>
                        <p>+ s/2</p>
                      </div>
                      <div class="incentive__recharge">
                        <p>Recarga<br>> = s/15</p>
                        <p>+ s/3</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="incentive__conditions">
                  <b>Condiciones</b>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor </p>
                </div>
              </div>
    
              <div class="incentive">
                <div class="incentive__title">
                  <p>Bono Postapago</p>
                </div>
                <div class="incentive__box">
                  <div class="bonus">
                    <p></p>
                    <p>PP5</p>
                    <p>PP20</p>
                    <p></p>
                  </div>
                  <div class="bonus">
                    <p>Bono<br>post</p>
                    <p>+ s/ 11 <small>Semanal</small></p>
                    <p>+ s/ 8 <small>Semanal</small></p>
                    <p><img src="../../images/layout/logo-square.png"></p>
                  </div>
                  <div class="bonus">
                    <p>Bono<br>LLAA</p>
                    <p>+ s/ 3 <small>Quincenal</small></p>
                    <p></p>
                    <p><img src="../../images/scheme/payment-blue.png"></p>
                  </div>
                  <div class="bonus">
                    <p>Cambio de<br>plan pre a post</p>
                    <p>+ s/ 13 <small>Quincenal</small></p>
                    <p></p>
                    <p></p>
                  </div>
                </div>
                <div class="incentive__conditions">
                  <b>Condiciones</b>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                    erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor </p>
                </div>
              </div>
    
            </div>
          </div>
          
        </div>
        
      </div>
    
      <div class="tab container">
    
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="5">
            <span class="shape__text">Bonos por activaci&oacute;n</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-5.png">
          </button>
          <button type="button" class="tab__bar__btn shape" data-tab="6">
            <span class="shape__text">Consideraciones Generales _ Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-6.png">
          </button>
        </div>
    
        <div class="tab__content">
    
          <div class="tab__indicator"></div>
    
          <div class="content content--active" data-tab="5">
            <div class="table table--5">
              <div class="table__group">
                <img src="../../images/layout/logo-square.png">
              </div>
              <ul class="table__head">
                <li class="table__col">Modalidad</li>
                <li class="table__col">Tipo</li>
                <li class="table__col">Producto</li>
                <li class="table__col">P. Venta</li>
                <li class="table__col">Descuento por<br>activaci&oacute;n</li>
                <li class="table__col">Bono</li>
                <li class="table__col">Frecuencia</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
              <ul class="table__row">
                <li class="table__col">Alta</li>
                <li class="table__col">Prepago</li>
                <li class="table__col">Entel Prepago</li>
                <li class="table__col">s/ 5</li>
                <li class="table__col">-</li>
                <li class="table__col">1</li>
                <li class="table__col">Diaria</li>
              </ul>
            </div>
          </div>
    
          <div class="content" data-tab="6">
            <div class="generics">
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-1.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-2.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-3.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-4.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-5.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
              <div class="generic">
                <div class="generic__id">
                  <img src="../../images/scheme/shape-bonus-6.png">
                </div>
                <p class="generic__desc">Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. Ut wisi
                  enim ad minim veniam, quis nostrud exerci tation
                  ullamcorper suscipit lobortis nisl ut aliquip ex ea
                  commodo consequat. Duis autem vel eum iriure dolor in
                  hendrerit in vulputate velit esse molestie consequat, vel
                  illum dolore eu </p>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <div class="high-value container">
        <div class="high-value__title shape">
          <p class="shape__text">&iquest;Qu&eacute; cuenta para la caja de alto valor?</p>
          <img src="../../images/scheme/shape-high-value.png" class="shape__box">
        </div>
        <div class="high-value__table">
          <div class="shape shape__table">
            <span class="shape__text">PLANES</span>
            <img class="shape__box" src="../../images/scheme/shape-high-value-table.png">
          </div>
          <ul class="table__head">
            <li class="table__col">Planes</li>
            <li class="table__col">Plan 29</li>
            <li class="table__col">Plan 35</li>
            <li class="table__col">Plan 45</li>
            <li class="table__col">Plan 55</li>
          </ul>
          <div class="table__row">
            <li class="table__col">VR</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
          </div>
          <div class="table__row">
            <li class="table__col">PORTA SS OSS</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
          </div>
          <div class="table__row">
            <li class="table__col">PORTA SS OSPP</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
          </div>
          <div class="table__row">
            <li class="table__col">LLAA</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
            <li class="table__col">SI</li>
          </div>
        </div>
      </div>
    
      <div class="tab tab--unique container">
    
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="1">
            <span class="shape__text">Esquema de comisiones Lider_Cl&uacute;ster A</span>
            <img class="shape__box" src="../../images/scheme/shape-tab-6.png">
          </button>
        </div>
        
        <div class="tab__content">
    
          <div class="tab__indicator"></div>
    
          <div class="content content--active" data-tab="1">
    
            <div class="content__tabs">
              <button type="button" class="content__tab content__tab--active" data-inner-content="1">Bono por <br> HC en escala</button>
              <button type="button" class="content__tab" data-inner-content="2">Bono <br> por cuota</button>
            </div>
    
            <div class="content__tabs__content content__tabs__content--active" data-inner-content="1">
              <div class="content__table">
                <div class="table">
                  <ul class="table__list">
                    <li class="table__title">Esquemas</li>
                    <li class="table__subtitle table__subtitle--empty">-</li>
                    <li>E5</li>
                    <li>E4</li>
                    <li>E3</li>
                    <li>E2</li>
                    <li>E1</li>
                    <li>E0</li>
                  </ul>
                  <ul class="table__list">
                    <li class="table__title">Quincena 1</li>
                    <li class="table__subtitle">Del 01.02 al 14.02</li>
                    <li>s/ 60</li>
                    <li>s/ 60</li>
                    <li>s/ 60</li>
                    <li>s/ 55</li>
                    <li>s/ 45</li>
                    <li>s/ 25</li>
                  </ul>
                  <ul class="table__list">
                    <li class="table__title">Quincena 2</li>
                    <li class="table__subtitle">Del 15.02 al 28.02</li>
                    <li>s/ 60</li>
                    <li>s/ 60</li>
                    <li>s/ 60</li>
                    <li>s/ 55</li>
                    <li>s/ 45</li>
                    <li>s/ 25</li>
                  </ul>
                </div>
                <div class="table__resume">
                  <p>FECHA DE PAGO</p>
                  <p>Planilla Q1 - Feb22<br>(Martes 22.02)</p>
                  <p>Planilla Q1 - Feb22<br>(Martes 22.02)</p>
                </div>
              </div>
            </div>
    
            <div class="content__tabs__content" data-inner-content="2">
              <div class="content__table--2">
                <div class="table">
                  <ul class="table__list">
                    <li class="table__title empty">-</li>
                    <li class="table__subtitle empty">-</li>
                    <li>PP total</li>
                    <li>Porta PP</li>
                    <li>SS alto valor</li>
                    <li>Porta SS OSS</li>
                    <li>HC Prom activo diario</li>
                    <li>Total</li>
                  </ul>
                  <ul class="table__list">
                    <li class="table__title">Rango 1</li>
                    <li class="table__subtitle">
                      <span>Cuota</span>
                      <span>Ingreso</span>
                    </li>
                    <li><span>2,000</span><span>s/200</span></li>
                    <li><span>250</span><span>s/150</span></li>
                    <li><span>149</span><span>s/100</span></li>
                    <li><span>46</span><span>s/150</span></li>
                    <li><span>16</span><span>s/100</span></li>
                    <li><span></span><span>s/200</span></li>
                  </ul>
                  <ul class="table__list">
                    <li class="table__title">Rango 2</li>
                    <li class="table__subtitle">
                      <span>Cuota</span>
                      <span>Ingreso</span>
                    </li>
                    <li><span>2,000</span><span>s/200</span></li>
                    <li><span>250</span><span>s/150</span></li>
                    <li><span>149</span><span>s/100</span></li>
                    <li><span>46</span><span>s/150</span></li>
                    <li><span>16</span><span>s/100</span></li>
                    <li><span></span><span>s/200</span></li>
                  </ul>
                  <ul class="table__list">
                    <li class="table__title">Rango 3</li>
                    <li class="table__subtitle">
                      <span>Cuota</span>
                      <span>Ingreso</span>
                    </li>
                    <li><span>2,000</span><span>s/200</span></li>
                    <li><span>250</span><span>s/150</span></li>
                    <li><span>149</span><span>s/100</span></li>
                    <li><span>46</span><span>s/150</span></li>
                    <li><span>16</span><span>s/100</span></li>
                    <li><span></span><span>s/200</span></li>
                  </ul>
                </div>
                <div class="note">*Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet *dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit *lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</div>
              </div>
    
            </div>
    
          </div>
    
        </div>
        
      </div>
      
      <div class="tab tab--unique container">
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="1">
            <span class="shape__text">Bono L&iacute;der</span>
            <img class="shape__box" src="../../images/scheme/shape-leader.png">
          </button>
        </div>
    
        <div class="tab__content">
          <div class="tab__indicator"></div>
    
          <div class="content content--active" data-tab="1">
    
            <div class="content__tabs">
              <button type="button" class="content__tab content__tab--active" data-inner-content="1">Primera <br> Quincena</button>
              <button type="button" class="content__tab" data-inner-content="2">Segunda <br> Quincena</button>
            </div>
    
            <div class="content__tabs__content content__tabs__content--active" data-inner-content="1">
              <table class="table__leader--1" cellpadding="0" cellspacing="0">
                <tr>
                  <th>Nombre</th>
                  <th>Departamento</th>
                  <th>DNI L&iacute;der</th>
                  <th>EO</th>
                  <th>E1</th>
                  <th>E2</th>
                  <th>E3</th>
                  <th>E4</th>
                  <th>E5</th>
                  <th>E6</th>
                  <th>Total</th>
                  <th>Bono L&iacute;der</th>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td></td>
                  <td>5</td>
                  <td>1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>6</td>
                  <td></td>
                </tr>
              </table>
    
              <table class="table__leader--2" cellpadding="0" cellspacing="0">
                <tr>
                  <td colspan="4">PRIMERA QUINCENA</td>
                  <td colspan="6">AVANCE</td>
                  <td colspan="2">BONO VENTA</td>
                  <td colspan="2">BONO VALOR</td>
                  <td colspan="3">BONO ADICIONALES</td>
                </tr>
                <tr>
                  <th class="type--1">Nombre</th>
                  <th class="type--1">DNI</th>
                  <th class="type--1">Departamento</th>
                  <th class="type--1">DNI L&iacute;der</th>
                  <th class="type--2">PP</th>
                  <th class="type--2">UR</th>
                  <th class="type--2">Portas PP</th>
                  <th class="type--2">Post alto valor</th>
                  <th class="type--2">Porta<br>SS OSS</th>
                  <th class="type--2">D&iacute;s trab.</th>
                  <th class="type--3">Escala<br>B... venta</th>
                  <th class="type--3">Bono venta</th>
                  <th class="type--3">Escala<br>B... valor</th>
                  <th class="type--3">Bono valor</th>
                  <th class="type--3">Bono mejora<br>escala</th>
                  <th class="type--3">Bono quincenal</th>
                  <th class="type--3">Bono UR M2</th>
                  <th class="type--3">TOTAL</th>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
              </table>
            </div>
    
            <div class="content__tabs__content leader--2" data-inner-content="2">
              <table class="table__leader--1" cellpadding="0" cellspacing="0">
                <tr>
                  <th>Nombre</th>
                  <th>Departamento</th>
                  <th>DNI L&iacute;der</th>
                  <th>EO</th>
                  <th>E1</th>
                  <th>E2</th>
                  <th>E3</th>
                  <th>E4</th>
                  <th>E5</th>
                  <th>E6</th>
                  <th>Total</th>
                  <th>Bono L&iacute;der</th>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td></td>
                  <td>5</td>
                  <td>1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>6</td>
                  <td></td>
                </tr>
              </table>
    
              <table class="table__leader--2" cellpadding="0" cellspacing="0">
                <tr>
                  <td colspan="4">PRIMERA QUINCENA</td>
                  <td colspan="6">AVANCE</td>
                  <td colspan="2">BONO VENTA</td>
                  <td colspan="2">BONO VALOR</td>
                  <td colspan="3">BONO ADICIONALES</td>
                </tr>
                <tr>
                  <th class="type--1">Nombre</th>
                  <th class="type--1">DNI</th>
                  <th class="type--1">Departamento</th>
                  <th class="type--1">DNI L&iacute;der</th>
                  <th class="type--2">PP</th>
                  <th class="type--2">UR</th>
                  <th class="type--2">Portas PP</th>
                  <th class="type--2">Post alto valor</th>
                  <th class="type--2">Porta<br>SS OSS</th>
                  <th class="type--2">D&iacute;s trab.</th>
                  <th class="type--3">Escala<br>B... venta</th>
                  <th class="type--3">Bono venta</th>
                  <th class="type--3">Escala<br>B... valor</th>
                  <th class="type--3">Bono valor</th>
                  <th class="type--3">Bono mejora<br>escala</th>
                  <th class="type--3">Bono quincenal</th>
                  <th class="type--3">Bono UR M2</th>
                  <th class="type--3">TOTAL</th>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
                <tr>
                  <td>Dibony Gonazalez</td>
                  <td>000957881</td>
                  <td>LIMA</td>
                  <td>000957881</td>
                  <td>84</td>
                  <td>55</td>
                  <td>15</td>
                  <td>3</td>
                  <td>4</td>
                  <td>13</td>
                  <td>Escala 2</td>
                  <td>s/303</td>
                  <td>Escala 3</td>
                  <td>s/131</td>
                  <td>s/0</td>
                  <td>s/331</td>
                  <td>s/83</td>
                  <td>s/848</td>
                </tr>
              </table>
            </div>
    
          </div>
    
        </div>
      </div>
    
      <div class="tab tab--unique container">
        <div class="tab__bar">
          <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="1">
            <span class="shape__text">Bono Cuota</span>
            <img class="shape__box" src="../../images/scheme/shape-installment.png">
          </button>
        </div>
    
        <div class="tab__content">
          <div class="tab__indicator"></div>
    
          <table class="table__installment" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="3"></td>
              <td colspan="5">AVANCE</td>
              <td colspan="5">BONO</td>
            </tr>
            <tr>
              <th>Nombre</th>
              <th>Departamento</th>
              <th>DNI L&iacute;der</th>
              <th>PP total</th>
              <th>Porta PP</th>
              <th>Alto valor</th>
              <th>Porta SS OSS</th>
              <th>HC Activo</th>
              <th>PP total</th>
              <th>Porta PP</th>
              <th>Alto valor</th>
              <th>Porta SS OSS</th>
              <th>HC Activo</th>
              <th>TOTAL</th>
            </tr>
            <tr>
              <td>Dibony Gonazalez</td>
              <td>LIMA</td>
              <td>000957881</td>
              <td>1731</td>
              <td>131</td>
              <td>142</td>
              <td>26</td>
              <td>15</td>
              <td>s/135</td>
              <td>0</td>
              <td>s/70</td>
              <td>s/60</td>
              <td>s/70</td>
              <td>s/335</td>
            </tr>
          </table>
        </div>
      
    </div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
    <script type="module" src="../../scripts/pages/scheme.js"></script>
</body>
</html>

