<div id="scheme" data-header="2" data-footer="2">

  <div class="glide carousel container">
		<div class="glide__track" data-glide-el="track">
			<ul class="glide__slides">
				<li class="glide__slide">
					<img src="/images/products/carousel-1.png">
				</li>
				<li class="glide__slide">
					<img src="/images/products/carousel-2.png">
				</li>
				<li class="glide__slide">
					<img src="/images/products/carousel-3.png">
				</li>
			</ul>
		</div>
		<div class="glide__bullets" data-glide-el="controls[nav]">
			<button class="glide__bullet" data-glide-dir="=0"></button>
			<button class="glide__bullet" data-glide-dir="=1"></button>
			<button class="glide__bullet" data-glide-dir="=2"></button>
		</div>
	</div>

  <div class="tab container">

    <div class="tab__bar">
      <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="1">
        <span class="shape__text">Escala Regular _ Cl&uacute;ster A</span>
        <img class="shape__box" src="/images/scheme/shape-tab-1.png">
      </button>
      <button type="button" class="tab__bar__btn shape" data-tab="2">
        <span class="shape__text">Escala Intermedia _ Cl&uacute;ster A</span>
        <img class="shape__box" src="/images/scheme/shape-tab-2.png">
      </button>
    </div>

    <div class="tab__content">

      <div class="tab__indicator"></div>

      <div class="content content--active" data-tab="1">
        <div class="content__tabs">
          <button type="button" class="content__tab content__tab--active">1era Quincena <br> del 01.02 al 15.02</button>
          <button type="button" class="content__tab">2nda Quincena <br> del 06.02 al 28.02</button>
        </div>
        <div class="content__tables">

          <div class="table table--1">
            <ul class="table__head">
              <li class="table__col">Escalas</li>
              <li class="table__col">Prepago</li>
              <li class="table__col">UR</li>
              <li class="table__col">Postpago<br>alto valor</li>
              <li class="table__col">PORTA PRE</li>
              <li class="table__col">PORTA SS OSS</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">5</li>
              <li class="table__col">115</li>
              <li class="table__col">63</li>
              <li class="table__col">17</li>
              <li class="table__col">15</li>
              <li class="table__col">6</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">4</li>
              <li class="table__col">107</li>
              <li class="table__col">59</li>
              <li class="table__col">15</li>
              <li class="table__col">13</li>
              <li class="table__col">5</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">3</li>
              <li class="table__col">98</li>
              <li class="table__col">54</li>
              <li class="table__col">12</li>
              <li class="table__col">11</li>
              <li class="table__col">4</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">2</li>
              <li class="table__col">76</li>
              <li class="table__col">42</li>
              <li class="table__col">9</li>
              <li class="table__col">8</li>
              <li class="table__col">2</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">0</li>
              <li class="table__col">33</li>
              <li class="table__col">18</li>
              <li class="table__col">6</li>
              <li class="table__col">4</li>
              <li class="table__col">1</li>
            </ul>
          </div>

          <div class="table table--2">
            <ul class="table__head">
              <li class="table__col"><img src="/images/layout/logo-2.png"></li>
              <li class="table__col">Efectivo</li>
              <li class="table__col">AL</li>
              <li class="table__col">B. Venta</li>
              <li class="table__col">B. Valor</li>
              <li class="table__col">Total</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">625</li>
              <li class="table__col">527</li>
              <li class="table__col">814</li>
              <li class="table__col">374</li>
              <li class="table__col">140</li>
              <li class="table__col">2,480</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">570</li>
              <li class="table__col">456</li>
              <li class="table__col">740</li>
              <li class="table__col">359</li>
              <li class="table__col">136</li>
              <li class="table__col">2,260</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">494</li>
              <li class="table__col">383</li>
              <li class="table__col">639</li>
              <li class="table__col">344</li>
              <li class="table__col">131</li>
              <li class="table__col">1,990</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">380</li>
              <li class="table__col">287</li>
              <li class="table__col">492</li>
              <li class="table__col">303</li>
              <li class="table__col">95</li>
              <li class="table__col">1,557</li>
            </ul>
            <ul class="table__row">
              <li class="table__col">196</li>
              <li class="table__col">121</li>
              <li class="table__col">249</li>
              <li class="table__col">68</li>
              <li class="table__col">34</li>
              <li class="table__col">667</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="content" data-tab="2">Content 2</div>
      
    </div>
    
  </div>

  <div class="tab container">

    <div class="tab__bar">
      <button type="button" class="tab__bar__btn tab__bar__btn--active shape" data-tab="3">
        <span class="shape__text">Incentivos Adicionales Prepago _ Cl&uacute;ster A</span>
        <img class="shape__box" src="/images/scheme/shape-tab-3.png">
      </button>
      <button type="button" class="tab__bar__btn shape" data-tab="4">
        <span class="shape__text">Incentivos Adicionales Postpago _ Cl&uacute;ster A</span>
        <img class="shape__box" src="/images/scheme/shape-tab-4.png">
      </button>
    </div>

    <div class="tab__content">

      <div class="tab__indicator"></div>

      <div class="content content--active" data-tab="3">

        <div class="incentives">

          <div class="incentive">
            <div class="incentive__title">
              <p>Incentivo UR M1</p>
            </div>
            <div class="incentive__box">
              <div class="incentive__recharge">
                <p>Recarga<br>> = s/10</p>
                <p>+ s/2</p>
              </div>
              <div class="incentive__recharge">
                <p>Recarga<br>> = s/15</p>
                <p>+ s/3</p>
              </div>
            </div>
            <div class="incentive__conditions">
              <b>Condiciones</b>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat. Duis autem vel eum iriure dolor </p>
            </div>
          </div>

          <div class="incentive">
            <div class="incentive__title">
              <p>Incentivo UR M2</p>
            </div>
            <div class="incentive__box">
              <div class="incentive__recharge">
                <p>Recarga<br>> = s/10</p>
                <p>+ s/1.5</p>
                <p>+ s/3</p>
              </div>
              <div class="incentive__recharge">
                <p>Recarga<br>> = s/15</p>
                <p>+ s/3</p>
                <p>+ s/6</p>
              </div>
            </div>
            <div class="incentive__conditions">
              <b>Condiciones</b>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat. Duis autem vel eum iriure dolor </p>
            </div>
          </div>

          <div class="incentive">
            <div class="incentive__title">
              <p>Bono por venta</p>
            </div>
            <div class="incentive__box">
              <div class="bonus">
                <p></p>
                <p>PP5</p>
                <p>PP20</p>
                <p></p>
              </div>
              <div class="bonus">
                <p>VR</p>
                <p>+ s/ 2 <small>Semanal</small></p>
                <p>+ s/ 2 <small>Semanal</small></p>
                <p><img src="/images/layout/logo.png"></p>
              </div>
              <div class="bonus">
                <p>PORTA</p>
                <p>+ s/ 3 <small>Quincenal</small></p>
                <p>+ s/ 3 <small>Quincenal</small></p>
                <p><img src="/images/scheme/payment.png"></p>
              </div>
            </div>
            <div class="incentive__conditions">
              <b>Condiciones</b>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat. Duis autem vel eum iriure dolor </p>
            </div>
          </div>

        </div>

      </div>

      <div class="content" data-tab="4">Content 4</div>
      
    </div>
    
  </div>
  
</div>