<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>+lucas</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css">
    
    <script src="https://kit.fontawesome.com/b7219096b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <include data-include="header"></include>
    <div id="support" class="page">
    
			<div data-start class="banner">
				<div class="container">
					<p class="banner__hero">
						Soporte
						<span class="banner__subtitle">Utiliza los siguientes canales de <br> atenci&oacute;n para quejas o dudas.</span>
					</p>
					<div class="banner__image">
						<img src="../../images/support/hero.png" alt="Hero">
					</div>
				</div>
			</div>
		
			<div class="divider container">
				<img class="divider__side" src="../../images/support/deco-side.png">
				<img class="divider__center" src="../../images/support/deco-center.png">
				<img class="divider__side" src="../../images/support/deco-side.png">
			</div>
		
			<div class="support-options container">
				<div class="support__opt">
					<img class="support__opt-img" src="../../images/support/office-hours.png" alt="Horario de atenci&oacute;n">
					<b class="support__opt-key">Horario de atenci&oacute;n</b>
					<p class="support__opt-value">Lunes a viernes de 9:00am a 6:00pm</p>
				</div>
				<div class="support__opt">
					<img class="support__opt-img" src="../../images/support/call-center.png" alt="Llamada telef&oacute;nica">
					<b class="support__opt-key">Ll&aacute;manos al 946327221</b>
				</div>
				<div class="support__opt">
					<img class="support__opt-img" src="../../images/support/mail-center.png" alt="Correo electr&oacute;nico">
					<b class="support__opt-key">Escr&iacute;benos a:</b>
					<p class="support__opt-value">contacto@emprendedorespower.com</p>
				</div>
			</div>
				
		</div>
    <include data-include="footer"></include>

    <script type="module" src="../../scripts/main.js"></script>
</body>
</html>

