<footer>
  <if data-condition="footer-1">
    <div class="footer-1 container">
      <p class="footer__title">Qu&eacute; esperas para ganar esa platita extra</p>
      <button class="footer__action-download shape">
        <img src="../../images/layout/shape-footer-download.png" class="shape__box">
        <span class="shape__text">Descarga el app</span>
      </button>
      <p class="footer__subtitle">
        <img src="../../images/layout/footer-deco-subtitle.png">
        y comienza hoy
        <img src="../../images/layout/footer-deco-subtitle.png">
      </p>
      <button class="footer__download" type="button">
        <img src="../../images/common/play-store.png" alt="Descarga">
      </button>
      <ul class="footer__social">
        <li class="footer__social-item">
          <a href="javascript:void(0)"><i class="icon-facebook"></i></a>
        </li>
        <li class="footer__social-item">
          <a href="javascript:void(0)"><i class="icon-instagram"></i></a>
        </li>
        <li class="footer__social-item">
          <a href="javascript:void(0)"><i class="icon-youtube"></i></a>
        </li>
      </ul>
      <ul class="footer__menu">
        <li class="footer__menu-item"><a href="../../views/pages/home.html">Inicio</a></li>
        <li class="footer__menu-item"><a href="../../views/pages/products.html">Productos</a></li>
        <li class="footer__menu-item"><a href="../../views/pages/support.html">Soporte</a></li>
      </ul>

      <small class="container footer__copy">Copyright &copy; Empresa Nacional de Telecomunicaciones S.A. Todos los derechos reservados.</small>
    </div>
  </if>

  <if data-condition="footer-2">
    <div class="footer-2 container">
      <div>
        <a class="footer-2__logo" href="../../views/pages/home.html"><img src="../../images/layout/logo-2.png"></a>
        <div class="footer-2__social">
          <ul class="footer-2__net">
            <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
            <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
          </ul>
          <a class="footer-2__download" href="javascript:void(0)"><img src="../../images/common/google-play.png"></a>
        </div>
        <ul class="footer-2__menu">
          <li><a href="../../views/pages/home.html">Inicio</a></li>
          <li><a href="../../views/pages/products.html">Productos</a></li>
          <li><a href="../../views/pages/support.html">Soporte</a></li>
          <li><a href="../../views/pages/mis-lucas.html">Mis Lucas</a></li>
          <li><a href="../../views/pages/learning.html">Capacitaciones</a></li>
        </ul>
        <ul class="footer-2__submenu">
          <li><a href="../../views/pages/cashout.html">Cashout</a></li>
          <li><a href="../../views/pages/news.html">Novedades</a></li>
          <li><a href="../../views/pages/offer.html">Oferta comercial</a></li>
          <li><a href="../../views/pages/scheme.html">Esquema</a></li>
        </ul>
      </div>
      
      <small class="container footer__copy">Copyright &copy; Empresa Nacional de Telecomunicaciones S.A. Todos los derechos reservados.</small>
    </div>

  </if>

  <include data-include="common-chat-bot"></include>

</footer>