<footer>
  <div class="footer container">
    <p class="footer__title">Qu&eacute; esperas para ganar esa platita extra</p>
    <button class="footer__action-download" class="shape">
      <img src="/images/layout/shape-footer-download.png" class="shape__box">
      <span class="shape__text">Descarga el app</span>
    </button>
    <p class="footer__subtitle">
      <img src="/images/layout/footer-deco-subtitle.png">
      y comienza hoy
      <img src="/images/layout/footer-deco-subtitle.png">
    </p>
    <button class="footer__download" type="button">
      <img src="/images/common/play-store.png" alt="Descarga">
    </button>
    <ul class="footer__social">
      <li class="footer__social-item">
        <a href="javascript:void(0)"><img src="/images/common/icon-facebook.png" alt="Facebook"></a>
      </li>
      <li class="footer__social-item">
        <a href="javascript:void(0)"><img src="/images/common/icon-instagram.png" alt="Instagram"></a>
      </li>
      <li class="footer__social-item">
        <a href="javascript:void(0)"><img src="/images/common/icon-youtube.png" alt="Youtube"></a>
      </li>
    </ul>
    <ul class="footer__menu">
      <li class="footer__menu-item"><a href="/">Inicio</a></li>
      <li class="footer__menu-item"><a href="/products">Productos</a></li>
      <li class="footer__menu-item"><a href="/support">Soporte</a></li>
    </ul>
    <small class="footer__copy">Copyright &copy; Empresa Nacional de Telecomunicaciones S.A. Todos los derechos reservados.</small>
  </div>
</footer>