<header>
	<div class="container header">
		<a class="header__logo" href="../../views/pages/home.html">
			<if data-condition="header-1">
				<img src="../../images/layout/logo.png" alt="+Lucas">
			</if>
			<if data-condition="header-2">
				<img src="../../images/layout/logo-2.png" alt="+Lucas">
			</if>
		</a>
		<ul class="header__menu">
			<li class="header__menu-item">
				<a class="shape" href="../../views/pages/home.html" data-menu="home">
					<img src="../../images/layout/shape-menu-home.png" alt="shape" class="shape__box" hidden>
					<span class="shape__text">Inicio</span>
				</a>
			</li>
			<li class="header__menu-item">
				<a class="shape" href="../../views/pages/products.html" data-menu="products">
					<img src="../../images/layout/shape-menu-products.png" alt="shape" class="shape__box" hidden>
					<span class="shape__text">Productos</span>
				</a>
			</li>
			<li class="header__menu-item">
				<a class="shape" href="../../views/pages/support.html" data-menu="support">
					<img src="../../images/layout/shape-menu-support.png" alt="shape" class="shape__box" hidden>
					<span class="shape__text">Soporte</span>
				</a>
			</li>
			<li class="header__user">
				<if data-condition="unlogged">
					<span class="header__user-action">Iniciar Sesi&oacute;n</span>
					<img class="header__user-icon" src="../../images/layout/header-user.png" alt="User">
				</if>
				<if data-condition="logged">
					<div class="header__user-action">
						<div class="header__cart">
							<span class="header__cart-counter">2</span>
							<i class="icon-cart"></i>
						</div>
						Andr&eacute;s P.
					</div>
					<img class="header__user-icon" src="../../images/layout/header-user.png" alt="User">
					<ul class="submenu">
						<li class="submenu__item submenu__item--name">
							Andr&eacute;s Paredes S.
							<span>
								<i class="icon-heart"></i>
								Emprendedor
							</span>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="mis-lucas">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/mis-lucas.html">Mis Lucas</a>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="learning">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/learning.html">Capacitaciones</a>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="cashout">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/cashout.html">Cashout</a>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="news">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/news.html">Novedades</a>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="offer">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/offer.html">Oferta comercial</a>
						</li>
						<li class="submenu__item">
							<span class="submenu__item-icon" data-menu="scheme">
								<i class="icon-bird" hidden></i>
							</span>
							<a href="../../views/pages/scheme.html">Esquema</a>
						</li>
						<li class="submenu__item submenu__item--logout">
							<i class="icon-off"></i>
							Cerrar sesi&oacute;n
						</li>
					</ul>
				</if>
			</li>
		</ul>
	</div>

	<include data-include="common-modal-auth"></include>

</header>