.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: var(--blue);
    border-radius: 15px;
    padding: 50px 40px;
    width: 100%;
    max-width: 460px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--orange);
}

.modal__close i {
    color: white;
    font-size: 24px;
}

.form__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.form__subtitle {
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    margin: 15px 0 40px 0;
}

.form__input {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.form__input:not(:last-child) {
    margin-bottom: 15px;
}

.form__input:nth-child(4) .form__input-dot,
.form__input:nth-child(4) .form__input-dot::after { background-color: var(--sky); }
.form__input:nth-child(5) .form__input-dot { background-color: var(--green); }

.form__input-dot {
    display: block;
    height: 16px;
    min-width: 16px;
    border-radius: 10px;
    position: relative;
}

.form__input-dot::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 42px;
    top: 100%;
    left: 7px;
}

.form__input-val {
    display: block;
    width: 100%;
    user-select: none;
    outline: none;
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px 12px 10px 12px;
    color: #333;
}

.form__input-val::placeholder { color: var(--gray-text); }

.form__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.form__check {
    display: flex;
    align-items: center;
    grid-gap: 7px;
    cursor: pointer;
}

.form__check:active { transform: translateY(1px); }

.form__check-square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.form__check-square i {
    color: var(--sky);
    font-size: 14px;
}

.form__check-label, .form__forgot {
    color: var(--sky);
    font-size: 13px;
}

.form__submit {
    display: block;
    margin: 30px auto;
    background-color: var(--pink);
    padding: 10px 35px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 12px;
}

.form__label {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}

.form__other-action {
    display: block;
    margin: 15px auto 0 auto;
    color: var(--blue-text);
    background-color: var(--sky);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 8px;
}