.banner {
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    border-bottom-right-radius: 90px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 52%;
    width: 100%;
    height: calc(100% + 30px);
    display: block;
    background-color: var(--sky);
    border-bottom-right-radius: 230px;
    transform: skew(8deg) rotate(-12deg)translateY(10px);
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 62%;
    width: 100%;
    height: calc(100% + 30px);
    display: block;
    background-color: var(--pink);
    border-bottom-right-radius: 40px;
    transform: skew(4deg) rotate(-8deg)translateY(50px);
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.banner__hero {
    color: white;
    font-size: 65px;
    font-weight: 300;
    line-height: 72px;
    padding-bottom: 40px;
}

.banner__hero b {
    display: inline-block;
    position: relative;
    color: inherit;
}

.banner__image {
    display: block;
    width: 820px;
    max-width: 50vw;
}